<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr>
        <td>3.2.10 [M]</td>
        <td>2018-10-15</td>
        <td>Designer</td>
        <td>Removed legacy HTTP filter GUI</td>
      </tr>
      <tr>
        <td>3.2.9 [L]</td>
        <td>2018-10-11</td>
        <td>Server</td>
        <td>Fix for converting primary keys of query extractions from versions before 3.0</td>
      </tr>
      <tr>
        <td>3.2.8 [L]</td>
        <td>2018-10-11</td>
        <td>General</td>
        <td>Fix for transport request with certain SAP releases</td>
      </tr>
      <tr>
        <td>3.2.7 [L]</td>
        <td>2018-10-10</td>
        <td>Server</td>
        <td>Fix for converting sources from BOARD Connector 2.x (bug introduced in 3.2.2)</td>
      </tr>
      <tr>
        <td>3.2.6 [L]</td>
        <td>2018-10-09</td>
        <td>Server</td>
        <td>Fix for timeout during startup with large number of extractions</td>
      </tr>
      <tr>
        <td>3.2.5 [L]</td>
        <td>2018-10-04</td>
        <td>Table</td>
        <td>Added auto detection of compression function modules</td>
      </tr>
      <tr>
        <td>3.2.4 [L]</td>
        <td>2018-10-02</td>
        <td>Table</td>
        <td>Added support for RFC_READ_TABLE2 function modules</td>
      </tr>
      <tr>
        <td>3.2.3 [L]</td>
        <td>2018-09-28</td>
        <td>Designer</td>
        <td>Added support for searching Active Directory users/groups in other domains</td>
      </tr>
      <tr>
        <td>3.2.2 [M]</td>
        <td>2018-09-28</td>
        <td>Server</td>
        <td>Fixes &amp; improvements for converting configuration &amp; logs from BOARD Connector before 3.0</td>
      </tr>
      <tr>
        <td>3.2.1 [L]</td>
        <td>2018-09-25</td>
        <td>General</td>
        <td>Reduced network timeout for opening SAP connections</td>
      </tr>
      <tr>
        <td>3.2.0 [M]</td>
        <td>2018-09-24</td>
        <td>General</td>
        <td>Duration of extraction runs is now recoreded and displayed in main window and log viewer</td>
      </tr>
      <tr>
        <td>3.1.8 [M]</td>
        <td>2018-09-17</td>
        <td>Server</td>
        <td>Fixed missing row restriction in live preview (Table, TableJoin)</td>
      </tr>
      <tr>
        <td>3.1.7 [L]</td>
        <td>2018-09-12</td>
        <td>Designer</td>
        <td>Editing the source of multiple extractions at once is now supported</td>
      </tr>
      <tr>
        <td>3.1.6 [L]</td>
        <td>2018-09-11</td>
        <td>General</td>
        <td>Updated NWRFC libraries to 7.50</td>
      </tr>
      <tr>
        <td>3.1.5 [L]</td>
        <td>2018-08-30</td>
        <td>General</td>
        <td>Updated NWRFC libraries to 720 patchlevel 49</td>
      </tr>
      <tr>
        <td>3.1.4 [M]</td>
        <td>2018-08-28</td>
        <td>Table</td>
        <td>Fix for "use conversion routines" checkbox</td>
      </tr>
      <tr>
        <td>3.1.3 [L]</td>
        <td>2018-08-09</td>
        <td>DeltaQ</td>
        <td>Removed Z_XTRACT_DELTAQ_CUST from transport request, because of problems with missing data types</td>
      </tr>
      <tr>
        <td>3.1.2 [M]</td>
        <td>2018-08-07</td>
        <td>Security</td>
        <td>Explicitly enabled TLS1.1 &amp; 1.2, disabled TLS1.0 &amp; SSL3</td>
      </tr>
      <tr>
        <td>3.1.1 [M]</td>
        <td>2018-08-03</td>
        <td>Designer</td>
        <td>Fixed help links (question mark button)</td>
      </tr>
      <tr>
        <td>3.1.0 [M]</td>
        <td>2018-07-24</td>
        <td>General</td>
        <td>Added support for non-Unicode multibyte systems (Asian characters), removed background extraction (Table)</td>
      </tr>
      <tr>
        <td>3.0.8 [M]</td>
        <td>2018-07-19</td>
        <td>Server</td>
        <td>Increased timeout for writing results to BOARD to 4h</td>
      </tr>
      <tr>
        <td>3.0.7 [L]</td>
        <td>2018-07-17</td>
        <td>Report</td>
        <td>Updated the function module for report extracting</td>
      </tr>
      <tr>
        <td>3.0.6 [M]</td>
        <td>2018-07-17</td>
        <td>Server</td>
        <td>Increased timeout for writing results to BOARD</td>
      </tr>
      <tr>
        <td>3.0.5 [H]</td>
        <td>2018-07-13</td>
        <td>Server</td>
        <td>Fix for chunked transfer encoding (caused invalid data in some cases, broken since 3.0.0)</td>
      </tr>
      <tr>
        <td>3.0.4 [M]</td>
        <td>2018-07-12</td>
        <td>Server</td>
        <td>Fix for selecting X.509 certificates</td>
      </tr>
      <tr>
        <td>3.0.3 [L]</td>
        <td>2018-07-05</td>
        <td>Server</td>
        <td>Server configuration: Fix for converting default Int values from V2.x (e. g. config server starting on port 0 in some cases)</td>
      </tr>
      <tr>
        <td>3.0.2 [M]</td>
        <td>2018-07-05</td>
        <td>Server</td>
        <td>Fix for BAPI, BWCube (Bex Mode), Hierarchy, OHS, Query (Specified cast is not valid)</td>
      </tr>
      <tr>
        <td>3.0.1 [M]</td>
        <td>2018-07-05</td>
        <td>Designer</td>
        <td>Added support for warnings to Log Viewer</td>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://my.theobald-software.com/ReleaseNotes/BOARDConnector/BOARDConnector-3.0.0.html">3.0.0 [M]</a></td><td>2018-06-29</td><td>General</td><td>Improvements for network communication, security and configuration persistence(<a class="ReleaseNote" href="https://my.theobald-software.com/ReleaseNotes/BOARDConnector/BOARDConnector-3.0.0.html">Release note</a>)</td></tr>
      <tr>
        <td>2.30.20 [L]</td>
        <td>2018-04-17</td>
        <td>General</td>
        <td>Updated EULA</td>
      </tr>
      <tr>
        <td>2.30.18 [L]</td>
        <td>2018-01-15</td>
        <td>Server</td>
        <td>Improved handling of multiple http requests to the board connector server.</td>
      </tr>
      <tr>
        <td>2.30.17 [L]</td>
        <td>2017-11-30</td>
        <td>General</td>
        <td>Updated transport for Z_XTRACT_IS_TABLE_JOIN</td>
      </tr>
      <tr>
        <td>2.30.16 [L]</td>
        <td>2017-11-20</td>
        <td>Table Join</td>
        <td>Adjustments in Z_XTRACT_IS_TABLE_JOIN function.</td>
      </tr>
      <tr>
        <td>2.30.14 [L]</td>
        <td>2017-09-15</td>
        <td>Server</td>
        <td>CSV: Improved error message</td>
      </tr>
      <tr>
        <td>2.30.13 [L]</td>
        <td>2017-09-13</td>
        <td>Designer</td>
        <td>Disabled "..." button when creating new extraction without admin privileges</td>
      </tr>
      <tr>
        <td>2.30.12 [L]</td>
        <td>2017-08-11</td>
        <td>General</td>
        <td>License: Added support for FQDN</td>
      </tr>
      <tr>
        <td>2.30.11 [L]</td>
        <td>2017-08-04</td>
        <td>General</td>
        <td>Updated ABAP code &amp; transports</td>
      </tr>
      <tr>
        <td>2.30.10 [L]</td>
        <td>2017-08-04</td>
        <td>DeltaQ</td>
        <td>Fix for switching between non-Unicode and Unicode systems</td>
      </tr>
      <tr>
        <td>2.30.9 [L]</td>
        <td>2017-08-03</td>
        <td>General</td>
        <td>License: Added support for server names longer than 15 bytes</td>
      </tr>
      <tr>
        <td>2.30.8 [L]</td>
        <td>2017-07-12</td>
        <td>Designer</td>
        <td>Fix for "the specified network password is not correct"</td>
      </tr>
      <tr>
        <td>2.30.7 [M]</td>
        <td>2017-07-06</td>
        <td>DeltaQ</td>
        <td>Enabled automatic synchronization by default</td>
      </tr>
      <tr>
        <td>2.30.6 [L]</td>
        <td>2017-07-05</td>
        <td>General</td>
        <td>Fix for server license check in clusters</td>
      </tr>
      <tr>
        <td>2.30.5 [L]</td>
        <td>2017-07-04</td>
        <td>General</td>
        <td>Improved error message for license server mismatch</td>
      </tr>
      <tr>
        <td>2.30.4 [L]</td>
        <td>2017-07-03</td>
        <td>Server</td>
        <td>Fix for "the specified network password is not correct"</td>
      </tr>
      <tr>
        <td>2.30.3 [M]</td>
        <td>2017-06-22</td>
        <td>Server</td>
        <td>Server no longer runs separate app domain</td>
      </tr>
      <tr>
        <td>2.30.2 [L]</td>
        <td>2017-05-31</td>
        <td>BW Cube</td>
        <td>Added setting "legacy metadata retrieval"</td>
      </tr>
      <tr>
        <td>2.30.1 [M]</td>
        <td>2017-05-09</td>
        <td>Table</td>
        <td>Z_XTRACT_IS_TABLE_COMPRESSION: Added support for decimal floats</td>
      </tr>
      <tr>
        <td>2.30.0 [M]</td>
        <td>2017-04-26</td>
        <td>DeltaQ</td>
        <td>Moved server pool to separate process</td>
      </tr>
      <tr>
        <td>2.29.7 [L]</td>
        <td>2017-04-18</td>
        <td>Table Join</td>
        <td>Fixes for TableJoin data transfer</td>
      </tr>
      <tr>
        <td>2.29.6 [L]</td>
        <td>2017-03-29</td>
        <td>BW Cube</td>
        <td>Fix for buffer error when output column transformation exchanged measure with dimension or vice versa</td>
      </tr>
      <tr>
        <td>2.29.5 [H]</td>
        <td>2017-03-17</td>
        <td>General</td>
        <td>Fix for missing values (bug introduced in 2.29.3)</td>
      </tr>
      <tr>
        <td>2.29.4 [L]</td>
        <td>2017-03-16</td>
        <td>Server</td>
        <td>Reduced amount of messages in server log</td>
      </tr>
      <tr>
        <td>2.29.3 [M]</td>
        <td>2017-03-10</td>
        <td>BW Cube</td>
        <td>Fix for NULL values</td>
      </tr>
      <tr>
        <td>2.29.2 [L]</td>
        <td>2017-03-09</td>
        <td>General</td>
        <td>Updated build tools to MSBuild 15.0</td>
      </tr>
      <tr>
        <td>2.29.1 [L]</td>
        <td>2017-02-08</td>
        <td>General</td>
        <td>Fix for "Keyset does not exist" in certain AD environments</td>
      </tr>
      <tr>
        <td>2.29.0 [M]</td>
        <td>2017-01-23</td>
        <td>General</td>
        <td>Updated to .NET Framework 4.5.2</td>
      </tr>
      <tr>
        <td>2.28.1 [M]</td>
        <td>2017-01-11</td>
        <td>Designer</td>
        <td>Source: Fix for file/directory pickers</td>
      </tr>
      <tr>
        <td>2.28.0 [L]</td>
        <td>2017-01-11</td>
        <td>General</td>
        <td>Updated licensing to support json format.</td>
      </tr>
      <tr>
        <td>2.27.5 [L]</td>
        <td>2017-01-04</td>
        <td>DeltaQ</td>
        <td>Select options support either variables or scripted expression, but not both</td>
      </tr>
      <tr>
        <td>2.27.4 [L]</td>
        <td>2017-01-04</td>
        <td>Table</td>
        <td>WHERE-clause supports either variables or scripted expression, but not both</td>
      </tr>
      <tr>
        <td>2.27.3 [L]</td>
        <td>2016-12-22</td>
        <td>BW Cube</td>
        <td>Added detection of missing authorization for RFC_READ_TABLE</td>
      </tr>
      <tr>
        <td>2.27.2 [L]</td>
        <td>2016-12-14</td>
        <td>BW Cube</td>
        <td>BWCube date exception handling improved</td>
      </tr>
      <tr>
        <td>2.27.1 [L]</td>
        <td>2016-12-06</td>
        <td>Designer</td>
        <td>Removed columnSeparator and decimalSeparator from run parameters</td>
      </tr>
      <tr>
        <td>2.27.0 [M]</td>
        <td>2016-11-25</td>
        <td>DeltaQ</td>
        <td>Resending errors is deprecated now</td>
      </tr>
      <tr>
        <td>2.26.1 [L]</td>
        <td>2016-10-20</td>
        <td>BW Cube</td>
        <td>Improved lookup error handling</td>
      </tr>
      <tr>
        <td>2.26.0 [M]</td>
        <td>2016-10-18</td>
        <td>Setup</td>
        <td>Updated transport request thtrans.zip</td>
      </tr>
      <tr>
        <td>2.25.1 [L]</td>
        <td>2016-10-18</td>
        <td>DeltaQ</td>
        <td>Added update mode for activation only ('A')</td>
      </tr>
      <tr>
        <td>2.25.0 [L]</td>
        <td>2016-10-11</td>
        <td>BW Cube</td>
        <td>Output transformation allows removal of columns now</td>
      </tr>
      <tr>
        <td>2.24.1 [L]</td>
        <td>2016-10-08</td>
        <td>Server</td>
        <td>Added log entry for SAP application server / system number</td>
      </tr>
      <tr>
        <td>2.24.0 [M]</td>
        <td>2016-09-28</td>
        <td>DeltaQ</td>
        <td>All hierarchies may be activated now</td>
      </tr>
      <tr>
        <td>2.23.0 [M]</td>
        <td>2016-09-26</td>
        <td>Server</td>
        <td>Queued data packages are dropped now in case of errors</td>
      </tr>
      <tr>
        <td>2.22.2 [L]</td>
        <td>2016-09-15</td>
        <td>Report</td>
        <td>Fix for preview without columns but "automatic column detection" enabled</td>
      </tr>
      <tr>
        <td>2.22.1 [M]</td>
        <td>2016-08-25</td>
        <td>BAPI</td>
        <td>Fix for passing values to tables</td>
      </tr>
      <tr>
        <td>2.22.0 [M]</td>
        <td>2016-08-23</td>
        <td>BAPI</td>
        <td>Added support for export parameters &amp; multiple tables in result</td>
      </tr>
      <tr>
        <td>2.21.1 [L]</td>
        <td>2016-08-03</td>
        <td>Server</td>
        <td>Improved handling of empty results</td>
      </tr>
      <tr>
        <td>2.21.0 [L]</td>
        <td>2016-08-02</td>
        <td>BOARD API</td>
        <td>Updated API for https support</td>
      </tr>
      <tr>
        <td>2.20.6 [L]</td>
        <td>2016-08-02</td>
        <td>DeltaQ</td>
        <td>Fix for DeltaQ hierarchy datasources</td>
      </tr>
      <tr>
        <td>2.20.5 [M]</td>
        <td>2016-07-12</td>
        <td>DeltaQ</td>
        <td>Fix for DeltaQ activation</td>
      </tr>
      <tr>
        <td>2.20.4 [M]</td>
        <td>2016-07-12</td>
        <td>DeltaQ</td>
        <td>Re-enabled result buffering</td>
      </tr>
      <tr>
        <td>2.20.3 [L]</td>
        <td>2016-07-05</td>
        <td>Service</td>
        <td>Service account settings are preserved during updates</td>
      </tr>
      <tr>
        <td>2.20.2 [L]</td>
        <td>2016-06-16</td>
        <td>General</td>
        <td>Reverted default RFC library to classic</td>
      </tr>
      <tr>
        <td>2.20.1 [L]</td>
        <td>2016-05-04</td>
        <td>General</td>
        <td>Replaced support client executable with download link</td>
      </tr>
      <tr>
        <td>2.20.0 [M]</td>
        <td>2016-04-20</td>
        <td>General</td>
        <td>Reverted back to classic RFC as default</td>
      </tr>
      <tr>
        <td>2.19.1 [M]</td>
        <td>2016-04-19</td>
        <td>Designer</td>
        <td>Fix for changes in General Settings</td>
      </tr>
      <tr>
        <td>2.19.0 [M]</td>
        <td>2016-04-18</td>
        <td>General</td>
        <td>NetWeaver RFC libraries are used by default now instead of classic RFC libraries</td>
      </tr>
      <tr>
        <td>2.18.2 [L]</td>
        <td>2016-02-15</td>
        <td>Report</td>
        <td>Added look up for report variants.</td>
      </tr>
      <tr>
        <td>2.18.1 [M]</td>
        <td>2016-01-13</td>
        <td>General</td>
        <td>License DLL does not need to be "unblocked" anymore</td>
      </tr>
      <tr>
        <td>2.17.3 [M]</td>
        <td>2015-11-24</td>
        <td>Server</td>
        <td>Undefined execution states are set to "finished with errors" at server startup</td>
      </tr>
      <tr>
        <td>2.17.0 [M]</td>
        <td>2015-11-10</td>
        <td>BOARD API</td>
        <td>Added support for Table Join</td>
      </tr>
      <tr>
        <td>2.16.2 [L]</td>
        <td>2015-11-10</td>
        <td>Table Join</td>
        <td>Fix for live data preview</td>
      </tr>
      <tr>
        <td>2.16.1 [L]</td>
        <td>2015-11-10</td>
        <td>Table</td>
        <td>Fix for live data preview</td>
      </tr>
      <tr>
        <td>2.16.0 [L]</td>
        <td>2015-10-27</td>
        <td>Server</td>
        <td>Added support for Content-Encoding: gzip</td>
      </tr>
      <tr>
        <td>2.15.15 [L]</td>
        <td>2015-09-29</td>
        <td>Server</td>
        <td>Improved logging for errors while loading extractions</td>
      </tr>
      <tr>
        <td>2.15.14 [L]</td>
        <td>2015-09-18</td>
        <td>Table Join</td>
        <td>Updated XtractKernel (TQB)</td>
      </tr>
      <tr>
        <td>2.15.13 [L]</td>
        <td>2015-09-15</td>
        <td>Table Join</td>
        <td>Updated dialog help links</td>
      </tr>
      <tr>
        <td>2.15.12 [L]</td>
        <td>2015-09-07</td>
        <td>DeltaQ</td>
        <td>Added new setting 'Accept Gaps In Data Package Id' for users who are using OLTP datasources where data is filtered in a way that it leads to gaps between the packet numbers. This setting turns off a certain consistency check. </td>
      </tr>
      <tr>
        <td>2.15.11 [L]</td>
        <td>2015-09-07</td>
        <td>Report</td>
        <td>Fixed bug in the search of reports</td>
      </tr>
      <tr>
        <td>2.15.10 [L]</td>
        <td>2015-08-13</td>
        <td>BAPI</td>
        <td>New ABAP sources for Z_XTRACT_IS_TABLE_COMPRESSION to improve performance especially on SAP system based on MAXDB. New function module Z_XTRACT_IS_TABLE_JOIN released as beta version.</td>
      </tr>
      <tr>
        <td>2.15.9 [L]</td>
        <td>2015-08-10</td>
        <td>Table Join</td>
        <td>Updated table join designer.</td>
      </tr>
      <tr>
        <td>2.15.8 [L]</td>
        <td>2015-08-04</td>
        <td>BW Cube</td>
        <td>Fix for error message when using the Show MDX link </td>
      </tr>
      <tr>
        <td>2.15.7 [L]</td>
        <td>2015-07-28</td>
        <td>General</td>
        <td>Support client shows logo and uses pre-defined password</td>
      </tr>
      <tr>
        <td>2.15.6 [L]</td>
        <td>2015-07-22</td>
        <td>Table</td>
        <td>Fixed bug in table lookup form</td>
      </tr>
      <tr>
        <td>2.15.5 [L]</td>
        <td>2015-07-21</td>
        <td>DeltaQ</td>
        <td>Fix for the edit selection link. It appeared sometimes even no selection is allowed according to SAP's metadata.</td>
      </tr>
      <tr>
        <td>2.15.4 [L]</td>
        <td>2015-07-18</td>
        <td>Table Join</td>
        <td>Updated TQB for Table Join component.</td>
      </tr>
      <tr>
        <td>2.15.3 [L]</td>
        <td>2015-07-17</td>
        <td>General</td>
        <td>Updated code to run on .NET 4.</td>
      </tr>
      <tr>
        <td>2.15.2 [L]</td>
        <td>2015-07-14</td>
        <td>Setup</td>
        <td>Updated support client to 10.0.43879.0</td>
      </tr>
      <tr>
        <td>2.15.0 [M]</td>
        <td>2015-06-30</td>
        <td>General</td>
        <td>Purchased license is preferred to demo license now</td>
      </tr>
      <tr>
        <td>2.14.0 [L]</td>
        <td>2015-06-30</td>
        <td>Server</td>
        <td>Removed HttpLocalOnly server setting (please use server security settings instead)</td>
      </tr>
      <tr>
        <td>2.12.8 [L]</td>
        <td>2015-05-21</td>
        <td>Designer</td>
        <td>Delete button &amp; menu item is disabled in GUI if user does not has appropriate privileges</td>
      </tr>
      <tr>
        <td>2.12.7 [M]</td>
        <td>2015-05-20</td>
        <td>Designer</td>
        <td>Fixed extraction name validation</td>
      </tr>
      <tr>
        <td>2.12.6 [L]</td>
        <td>2015-04-29</td>
        <td>Server</td>
        <td>Reverted date format to yyyMMdd (accidentally changed to yyyy-MM-dd in 2.8.1)</td>
      </tr>
      <tr>
        <td>2.12.5 [L]</td>
        <td>2015-04-20</td>
        <td>General</td>
        <td>Improved logging of stack traces</td>
      </tr>
      <tr>
        <td>2.12.4 [L]</td>
        <td>2015-04-20</td>
        <td>BW Cube</td>
        <td>Addtional feature to add unit columns to each measure when using the OLAP mode</td>
      </tr>
      <tr>
        <td>2.12.3 [L]</td>
        <td>2015-04-13</td>
        <td>General</td>
        <td>SNC plus user name / password is supported in connection dialog to encrypt connection to SAP</td>
      </tr>
      <tr>
        <td>2.12.1 [L]</td>
        <td>2015-04-13</td>
        <td>DeltaQ</td>
        <td>Scripting expressions are evaluated in Selection parameters</td>
      </tr>
      <tr>
        <td>2.12.0 [M]</td>
        <td>2015-02-18</td>
        <td>General</td>
        <td>Removed 'custom connections' and renamed 'connection' to 'source' (legacy 'custom connections' are still supported, but read-only)</td>
      </tr>
      <tr>
        <td>2.11.4 [L]</td>
        <td>2015-01-27</td>
        <td>BW Cube</td>
        <td>Added new feature for manual slicing/filtering dimensions in an OLAP extraction</td>
      </tr>
      <tr>
        <td>2.11.3 [L]</td>
        <td>2015-01-26</td>
        <td>BW Cube</td>
        <td>Custom variables are supported now when using native MDX statements</td>
      </tr>
      <tr>
        <td>2.11.2 [L]</td>
        <td>2015-01-22</td>
        <td>BW Cube</td>
        <td>Added new feature "Automatic Slicing" which can be switched on in Settings dialog.</td>
      </tr>
      <tr>
        <td>2.11.1 [L]</td>
        <td>2015-01-22</td>
        <td>BW Cube</td>
        <td>Setting "Decimal Separator" withdrawn as it's not necessary anymore. The decimal separator is detected automatically.</td>
      </tr>
      <tr>
        <td>2.11.0 [M]</td>
        <td>2015-01-15</td>
        <td>Table</td>
        <td>New user interface for extraction settings</td>
      </tr>
      <tr>
        <td>2.10.0 [L]</td>
        <td>2015-01-12</td>
        <td>Security</td>
        <td>Added support for X.509 client certificate file for SNC</td>
      </tr>
      <tr>
        <td>2.9.2 [L]</td>
        <td>2015-01-07</td>
        <td>Designer</td>
        <td>DeltaQ / OHS extractions with shared connection could not be created since version 2.9.0</td>
      </tr>
      <tr>
        <td>2.9.1 [L]</td>
        <td>2014-12-09</td>
        <td>Security</td>
        <td>Added support for DNS SRV responses without additional A records (Active Directory authentication)</td>
      </tr>
      <tr>
        <td>2.9.0 [L]</td>
        <td>2014-12-08</td>
        <td>General</td>
        <td>SAP connections are stored in config/sources now, as JSON files</td>
      </tr>
      <tr>
        <td>2.8.1 [L]</td>
        <td>2014-12-04</td>
        <td>General</td>
        <td>Fixed default time format</td>
      </tr>
      <tr>
        <td>2.8.0 [L]</td>
        <td>2014-12-02</td>
        <td>General</td>
        <td>Removed "Force Codepage"</td>
      </tr>
      <tr>
        <td>2.7.23 [L]</td>
        <td>2014-11-28</td>
        <td>BW Cube</td>
        <td>Fixed re-ordering of columns (headers were not re-ordered)</td>
      </tr>
      <tr>
        <td>2.7.22 [L]</td>
        <td>2014-11-18</td>
        <td>Security</td>
        <td>Fixes and improvements for Active Directory authentication</td>
      </tr>
      <tr>
        <td>2.7.21 [L]</td>
        <td>2014-11-11</td>
        <td>Service</td>
        <td>Set start timeout to 3 minutes (for slow systems)</td>
      </tr>
      <tr>
        <td>2.7.20 [L]</td>
        <td>2014-11-04</td>
        <td>Security</td>
        <td>Fixes and improvements for Active Directory authentication</td>
      </tr>
      <tr>
        <td>2.7.19 [M]</td>
        <td>2014-10-20</td>
        <td>Server</td>
        <td>Server had to be restarted, if errors occurred while loading an extraction</td>
      </tr>
      <tr>
        <td>2.7.17 [L]</td>
        <td>2014-10-13</td>
        <td>BW Cube</td>
        <td>Fix for "Use Real Data for Preview"</td>
      </tr>
      <tr>
        <td>2.7.16 [M]</td>
        <td>2014-10-08</td>
        <td>Server</td>
        <td>In some cases extractions were run despite load errors</td>
      </tr>
      <tr>
        <td>2.7.15 [L]</td>
        <td>2014-10-07</td>
        <td>DeltaQ</td>
        <td>Correction for missing "Init without data"</td>
      </tr>
      <tr>
        <td>2.7.14 [M]</td>
        <td>2014-09-30</td>
        <td>Security</td>
        <td>Fix for friendly domain names / FQDN (Active Directory)</td>
      </tr>
      <tr>
        <td>2.7.13 [M]</td>
        <td>2014-09-16</td>
        <td>Security</td>
        <td>Users could not see restricted extractions if they had logged on with a name in different character casing than their actual name (e. g. logon as "User01" if actual name was "user01")</td>
      </tr>
      <tr>
        <td>2.7.12 [M]</td>
        <td>2014-09-16</td>
        <td>Security</td>
        <td>Not all administrator privileges were granted, if logon as "admin" was performed with different character casing (e. g. "Admin").</td>
      </tr>
      <tr>
        <td>2.7.11 [L]</td>
        <td>2014-09-09</td>
        <td>General</td>
        <td>Improved logon failure logging (Active Directory)</td>
      </tr>
      <tr>
        <td>2.7.10 [H]</td>
        <td>2014-09-02</td>
        <td>Server</td>
        <td>Double quotes in data were duplicated, if data was loaded from buffer</td>
      </tr>
      <tr>
        <td>2.7.9 [L]</td>
        <td>2014-08-05</td>
        <td>Server</td>
        <td>Removed byte-order mark from UTF-8 encoded data</td>
      </tr>
      <tr>
        <td>2.7.8 [L]</td>
        <td>2014-08-05</td>
        <td>Designer</td>
        <td>Updated address in product info</td>
      </tr>
      <tr>
        <td>2.7.7 [L]</td>
        <td>2014-06-13</td>
        <td>BW Cube</td>
        <td>New mode available for pure MDX extractions</td>
      </tr>
      <tr>
        <td>2.7.5 [L]</td>
        <td>2014-05-22</td>
        <td>BW Cube</td>
        <td>New BWCube look-up</td>
      </tr>
      <tr>
        <td>2.7.4 [L]</td>
        <td>2014-05-20</td>
        <td>BAPI</td>
        <td>New BAPI look-up</td>
      </tr>
      <tr>
        <td>2.7.3 [L]</td>
        <td>2014-05-20</td>
        <td>Report</td>
        <td>New report look-up</td>
      </tr>
      <tr>
        <td>2.7.2 [L]</td>
        <td>2014-04-17</td>
        <td>Hierarchy</td>
        <td>New hierarchy look-up</td>
      </tr>
      <tr>
        <td>2.7.1 [L]</td>
        <td>2014-04-17</td>
        <td>Query</td>
        <td>New Query look-up and metadata retrieval</td>
      </tr>
      <tr>
        <td>2.7.0 [L]</td>
        <td>2014-04-03</td>
        <td>Designer</td>
        <td>Fixed lookup button for trace directory in the connection manager</td>
      </tr>
      <tr>
        <td>2.6.2 [L]</td>
        <td>2014-02-20</td>
        <td>Designer</td>
        <td>Fix for "invalid value" error message if value of text parameter is empty (Run dialog)</td>
      </tr>
      <tr>
        <td>2.6.0 [L]</td>
        <td>2014-02-06</td>
        <td>Security</td>
        <td>SAP credentials can be supplied via Basic authentication (HTTPS recommended)</td>
      </tr>
      <tr>
        <td>2.5.2 [L]</td>
        <td>2014-02-06</td>
        <td>Security</td>
        <td>Removed user and passwd run parameters</td>
      </tr>
      <tr>
        <td>2.5.1 [L]</td>
        <td>2014-02-04</td>
        <td>Server</td>
        <td>Added query string option filterDebug=true to exclude debug log entries</td>
      </tr>
      <tr>
        <td>2.5.0 [L]</td>
        <td>2014-02-04</td>
        <td>General</td>
        <td>Buffer directory can be changed in Server Settings now</td>
      </tr>
      <tr>
        <td>2.4.25 [L]</td>
        <td>2014-02-04</td>
        <td>Designer</td>
        <td>Corrected some typos</td>
      </tr>
      <tr>
        <td>2.4.24 [M]</td>
        <td>2014-01-21</td>
        <td>BAPI</td>
        <td>Fix for "cannot assign value..."</td>
      </tr>
      <tr>
        <td>2.4.23 [L]</td>
        <td>2014-01-09</td>
        <td>Server</td>
        <td>Added support for HTTP HEAD requests</td>
      </tr>
      <tr>
        <td>2.4.22 [L]</td>
        <td>2014-01-08</td>
        <td>BW Cube</td>
        <td>Bugfix for tree view UI element on the left side. Double clicking lead to strange error message in rare cases</td>
      </tr>
      <tr>
        <td>2.4.21 [L]</td>
        <td>2014-01-07</td>
        <td>General</td>
        <td>Corrected the links to the OnlineHelp</td>
      </tr>
      <tr>
        <td>2.4.20 [L]</td>
        <td>2013-12-19</td>
        <td>Server</td>
        <td>Empty results do not create a dummy line anymore if read from buffer</td>
      </tr>
      <tr>
        <td>2.4.19 [L]</td>
        <td>2013-12-19</td>
        <td>Service</td>
        <td>Fix for Windows Server 2003 and XP</td>
      </tr>
      <tr>
        <td>2.4.18 [L]</td>
        <td>2013-12-03</td>
        <td>Server</td>
        <td>CSV: Values which contain row separator are enclosed in quote symbols now</td>
      </tr>
      <tr>
        <td>2.4.17 [L]</td>
        <td>2013-11-08</td>
        <td>Report</td>
        <td>Fix for using Header Pattern with Automatic Column Detection</td>
      </tr>
      <tr>
        <td>2.4.16 [L]</td>
        <td>2013-10-30</td>
        <td>DeltaQ</td>
        <td>Extractions crashed if url parameter "programId" was set</td>
      </tr>
      <tr>
        <td>2.4.15 [L]</td>
        <td>2013-10-08</td>
        <td>Server</td>
        <td>Server will start up even if extraction metadata is corrupted</td>
      </tr>
      <tr>
        <td>2.4.14 [L]</td>
        <td>2013-10-05</td>
        <td>BW Cube</td>
        <td>Fix for variable problems under BEX mode on certain BW release above rel. 7.01</td>
      </tr>
      <tr>
        <td>2.4.13 [L]</td>
        <td>2013-09-25</td>
        <td>Server</td>
        <td>Errors during extraction load do not create empty buffer entries anymore</td>
      </tr>
      <tr>
        <td>2.4.11 [L]</td>
        <td>2013-08-23</td>
        <td>Server</td>
        <td>Moved log entries of run parameters from server log to extraction log</td>
      </tr>
      <tr>
        <td>2.4.9 [L]</td>
        <td>2013-08-21</td>
        <td>Server</td>
        <td>Fix for extractions which have very short running times (&lt;50ms)  </td>
      </tr>
      <tr>
        <td>2.4.8 [L]</td>
        <td>2013-08-08</td>
        <td>Report</td>
        <td>Correction for timeout issue when previewing a long running report</td>
      </tr>
      <tr>
        <td>2.4.7 [L]</td>
        <td>2013-07-25</td>
        <td>Service</td>
        <td>Errors which lead to server termination are written to Windows event log</td>
      </tr>
      <tr>
        <td>2.4.6 [M]</td>
        <td>2013-07-25</td>
        <td>Server</td>
        <td>Errors while writing extraction log do not lead to server termination anymore</td>
      </tr>
      <tr>
        <td>2.4.5 [L]</td>
        <td>2013-07-16</td>
        <td>Table</td>
        <td>Added scripting for where clause</td>
      </tr>
      <tr>
        <td>2.4.4 [L]</td>
        <td>2013-07-11</td>
        <td>Setup</td>
        <td>Added Visual C++ runtime to setup</td>
      </tr>
      <tr>
        <td>2.4.3 [L]</td>
        <td>2013-07-11</td>
        <td>Setup</td>
        <td>Fix for icon in "Progams and Features"</td>
      </tr>
      <tr>
        <td>2.4.2 [L]</td>
        <td>2013-07-11</td>
        <td>Setup</td>
        <td>Fix for error message during service start on 32-bit OS</td>
      </tr>
      <tr>
        <td>2.4.1 [L]</td>
        <td>2013-07-10</td>
        <td>Report</td>
        <td>Fix for crash on Report dialog when function module is not installed properly</td>
      </tr>
      <tr>
        <td>2.4.0 [L]</td>
        <td>2013-07-08</td>
        <td>General</td>
        <td>Added support for NetWeaver RFC libraries</td>
      </tr>
      <tr>
        <td>2.3.8 [L]</td>
        <td>2013-06-18</td>
        <td>Report</td>
        <td>New setting Report Width introduced in case there's more than one report line per data line</td>
      </tr>
      <tr>
        <td>2.3.6 [L]</td>
        <td>2013-06-09</td>
        <td>DeltaQ</td>
        <td>Released 4 additional settings: 'Don't resend..', 'Check IDoc state...', 'Serialization info...' and 'Data conversion...'</td>
      </tr>
      <tr>
        <td>2.3.5 [L]</td>
        <td>2013-06-04</td>
        <td>General</td>
        <td>.NET 4 is used, if available</td>
      </tr>
      <tr>
        <td>2.3.4 [L]</td>
        <td>2013-05-28</td>
        <td>General</td>
        <td>.NET 4 is used, if 3.5 SP1 is not installed</td>
      </tr>
      <tr>
        <td>2.3.3 [L]</td>
        <td>2013-05-21</td>
        <td>General</td>
        <td>Added 'Use SAPGUI' to connection settings</td>
      </tr>
      <tr>
        <td>2.3.2 [L]</td>
        <td>2013-04-19</td>
        <td>Report</td>
        <td>New setting added: Regex Pattern for skipping rows</td>
      </tr>
      <tr>
        <td>2.3.1 [M]</td>
        <td>2013-03-21</td>
        <td>BW Cube</td>
        <td>Output transformation did not work sometimes if result was read from buffer</td>
      </tr>
      <tr>
        <td>2.3.0 [L]</td>
        <td>2013-01-30</td>
        <td>Security</td>
        <td>Added access restriction for shared connections</td>
      </tr>
      <tr>
        <td>2.2.26 [M]</td>
        <td>2013-01-16</td>
        <td>BAPI</td>
        <td>Added support for structures/tables which contain alignment gaps caused by includes</td>
      </tr>
      <tr>
        <td>2.2.25 [L]</td>
        <td>2012-12-11</td>
        <td>General</td>
        <td>Fix: LogDir setting got lost when using a custom connection</td>
      </tr>
      <tr>
        <td>2.2.24 [L]</td>
        <td>2012-11-29</td>
        <td>Security</td>
        <td>Logged on user is automatically added to the list of allowed users/groups if he activates access restriction for an extraction</td>
      </tr>
      <tr>
        <td>2.2.23 [L]</td>
        <td>2012-11-28</td>
        <td>Security</td>
        <td>Access restriction changes performed by non-admin users were not saved correctly in some cases</td>
      </tr>
      <tr>
        <td>2.2.22 [L]</td>
        <td>2012-11-22</td>
        <td>DeltaQ</td>
        <td>Added "Auto Synchronisation" feature to settings</td>
      </tr>
      <tr>
        <td>2.2.21 [L]</td>
        <td>2012-11-19</td>
        <td>General</td>
        <td>New TeamViewer version for remote support</td>
      </tr>
      <tr>
        <td>2.2.20 [L]</td>
        <td>2012-11-15</td>
        <td>Service</td>
        <td>Increased start/stop timeouts</td>
      </tr>
      <tr>
        <td>2.2.19 [L]</td>
        <td>2012-10-26</td>
        <td>DeltaQ</td>
        <td>A new dialog for maintaining the Delta requests was added to the settings dialog</td>
      </tr>
      <tr>
        <td>2.2.18 [L]</td>
        <td>2012-10-24</td>
        <td>BAPI</td>
        <td>Fix for non-unicode systems (version 2.x and later)</td>
      </tr>
      <tr>
        <td>2.2.17 [L]</td>
        <td>2012-10-17</td>
        <td>BAPI</td>
        <td>Structure elements in GUI were missing in some rare cases</td>
      </tr>
      <tr>
        <td>2.2.16 [L]</td>
        <td>2012-10-17</td>
        <td>Server</td>
        <td>More detailed error messages for server startup problems</td>
      </tr>
      <tr>
        <td>2.2.15 [L]</td>
        <td>2012-10-16</td>
        <td>Designer</td>
        <td>Fix for HTTPS port in "Run" dialog</td>
      </tr>
      <tr>
        <td>2.2.11 [L]</td>
        <td>2012-09-28</td>
        <td>Table</td>
        <td>Fix for tables with emtpy column descriptions (since 2.2.10.x)</td>
      </tr>
      <tr>
        <td>2.2.9 [L]</td>
        <td>2012-09-24</td>
        <td>Table</td>
        <td>Correction in function module Z_XTRACT_IS_TABLE_COMPRESSION for timestamp/decimal columns</td>
      </tr>
      <tr>
        <td>2.2.7 [L]</td>
        <td>2012-08-29</td>
        <td>BOARD API</td>
        <td>Output column reordering (BW Cube) was ignored in metadata since 2.x</td>
      </tr>
      <tr>
        <td>2.2.6 [L]</td>
        <td>2012-08-27</td>
        <td>General</td>
        <td>All column names are now backward-compatible with data readers before 2.x</td>
      </tr>
      <tr>
        <td>2.2.5 [L]</td>
        <td>2012-08-08</td>
        <td>Hierarchy</td>
        <td>Fix for zero node ids with some hierarchies	</td>
      </tr>
      <tr>
        <td>2.2.4 [L]</td>
        <td>2012-08-08</td>
        <td>BW Cube</td>
        <td>Bugfix in UI when switch from BEX mode to non-BEX mode and back</td>
      </tr>
      <tr>
        <td>2.2.3 [L]</td>
        <td>2012-08-06</td>
        <td>BW Cube</td>
        <td>Fix for output transformation (did not work since version 2.0.0.x)</td>
      </tr>
      <tr>
        <td>2.2.2 [L]</td>
        <td>2012-08-06</td>
        <td>Server</td>
        <td>Sometimes extraction runs were declared 'successful' even though errors occured</td>
      </tr>
      <tr>
        <td>2.2.1 [L]</td>
        <td>2012-08-03</td>
        <td>Service</td>
        <td>Service did not start after reboot sometimes (service dependencies were missing)</td>
      </tr>
      <tr>
        <td>2.2.0 [L]</td>
        <td>2012-08-02</td>
        <td>Setup</td>
        <td>Fixed prerequisites check</td>
      </tr>
      <tr>
        <td>2.1.0 [L]</td>
        <td>2012-08-01</td>
        <td>Service</td>
        <td>New service implementation	</td>
      </tr>
      <tr>
        <td>2.0.2 [L]</td>
        <td>2012-07-18</td>
        <td>General</td>
        <td>Re-added decimalSeparator URL-parameter (was missing since version 2.0.0.x)</td>
      </tr>
      <tr>
        <td>2.0.0 [M]</td>
        <td>2012-05-30</td>
        <td>General</td>
        <td>Several fixes and improvements, major internal changes</td>
      </tr>
      <tr>
        <td>1.8.17 [M]</td>
        <td>2012-04-24</td>
        <td>DeltaQ</td>
        <td>Added various additional settings and functions for natural hierarchy representation</td>
      </tr>
      <tr>
        <td>1.8.16 [L]</td>
        <td>2012-04-23</td>
        <td>Server</td>
        <td>CSV: Column headers are written even if extraction result is empty</td>
      </tr>
      <tr>
        <td>1.8.15 [L]</td>
        <td>2012-04-17</td>
        <td>Designer</td>
        <td>Designer was not able to start if configuration file was corrupted</td>
      </tr>
      <tr>
        <td>1.8.14 [L]</td>
        <td>2012-04-02</td>
        <td>General</td>
        <td>Fix for Designer failing to connect in some environments</td>
      </tr>
      <tr>
        <td>1.8.13 [L]</td>
        <td>2012-03-22</td>
        <td>Server</td>
        <td>Fix for log entries containing mode "Console" if server was running as a service</td>
      </tr>
      <tr>
        <td>1.8.12 [L]</td>
        <td>2012-03-22</td>
        <td>Designer</td>
        <td>More space for licensee in "About" window</td>
      </tr>
      <tr>
        <td>1.8.11 [L]</td>
        <td>2012-03-21</td>
        <td>Designer</td>
        <td>Added some icons to main menu</td>
      </tr>
      <tr>
        <td>1.8.10 [L]</td>
        <td>2012-03-01</td>
        <td>Table</td>
        <td>Field exits can be switched on in the settings dialog when using the compression feature</td>
      </tr>
      <tr>
        <td>1.8.9 [L]</td>
        <td>2012-02-29</td>
        <td>Server</td>
        <td>Some fixes for CSV value formatting</td>
      </tr>
      <tr>
        <td>1.8.8 [L]</td>
        <td>2012-02-28</td>
        <td>Table</td>
        <td>Preview is using real data instead of dummy data (this was accidentally changed in 1.6.3).</td>
      </tr>
      <tr>
        <td>1.8.7 [L]</td>
        <td>2012-02-17</td>
        <td>Table</td>
        <td>Compression feature for faster data extraction released now for public use</td>
      </tr>
      <tr>
        <td>1.8.6 [L]</td>
        <td>2012-02-10</td>
        <td>General</td>
        <td>Added Preview Mode in General Settings</td>
      </tr>
      <tr>
        <td>1.8.5 [L]</td>
        <td>2012-02-09</td>
        <td>General</td>
        <td>Added padding for log entries in txt files and 'copy to clipboard' feature</td>
      </tr>
      <tr>
        <td>1.8.4 [M]</td>
        <td>2012-02-09</td>
        <td>General</td>
        <td>Fixes &amp; improvements for extraction abort</td>
      </tr>
      <tr>
        <td>1.8.3 [M]</td>
        <td>2012-02-09</td>
        <td>Server</td>
        <td>Fix for buffer BufferLifespanMinutes</td>
      </tr>
      <tr>
        <td>1.8.2 [L]</td>
        <td>2012-01-26</td>
        <td>Designer</td>
        <td>Removed default values of client and language for new connections; changed tab order</td>
      </tr>
      <tr>
        <td>1.8.1 [M]</td>
        <td>2012-01-26</td>
        <td>General</td>
        <td>Change to avoid "Attempt to read or write protected memory" error immediately after start of extraction execution (occurred at arbitrary times)</td>
      </tr>
      <tr>
        <td>1.8.0 [L]</td>
        <td>2012-01-20</td>
        <td>Server</td>
        <td>New extraction abort mechanism</td>
      </tr>
      <tr>
        <td>1.7.7 [M]</td>
        <td>2012-01-15</td>
        <td>BW Cube</td>
        <td>Implemented new BEX mode for extraction</td>
      </tr>
      <tr>
        <td>1.7.6 [L]</td>
        <td>2012-01-12</td>
        <td>Designer</td>
        <td>Fix for extractions with reference to an non-existing shared connection (connection dialog did not open)</td>
      </tr>
      <tr>
        <td>1.7.5 [L]</td>
        <td>2012-01-05</td>
        <td>BW Cube</td>
        <td>Fix for output column reordering when adding dimension property</td>
      </tr>
      <tr>
        <td>1.7.4 [L]</td>
        <td>2012-01-05</td>
        <td>BW Cube</td>
        <td>Fix for output column reordering and metadata refresh</td>
      </tr>
      <tr>
        <td>1.7.3 [L]</td>
        <td>2012-01-05</td>
        <td>BW Cube</td>
        <td>Fix for invalid output column reordering (output window could not be opened)</td>
      </tr>
      <tr>
        <td>1.7.2 [M]</td>
        <td>2011-12-20</td>
        <td>General</td>
        <td>Fix for being unable to connect to server with many extractions (about 100 and above)</td>
      </tr>
      <tr>
        <td>1.7.1 [L]</td>
        <td>2011-12-13</td>
        <td>BW Cube</td>
        <td>Fix for metadata of extractions with output column transformation</td>
      </tr>
      <tr>
        <td>1.7.0 [L]</td>
        <td>2011-11-30</td>
        <td>Server</td>
        <td>Added extraction list via HTTP, name filter for logs via HTTP</td>
      </tr>
      <tr>
        <td>1.6.8 [L]</td>
        <td>2011-11-29</td>
        <td>General</td>
        <td>Fix for connections using Load Balancing</td>
      </tr>
      <tr>
        <td>1.6.7 [L]</td>
        <td>2011-11-09</td>
        <td>Server</td>
        <td>Changed behavior of min/max parameters for log retrieval via HTTP</td>
      </tr>
      <tr>
        <td>1.6.6 [L]</td>
        <td>2011-10-20</td>
        <td>Report</td>
        <td>Added pattern for detection of report header during autmatic column detection</td>
      </tr>
      <tr>
        <td>1.6.5 [L]</td>
        <td>2011-10-20</td>
        <td>Query</td>
        <td>Correction for the value help for variants (some variants were not displayed correctly)</td>
      </tr>
      <tr>
        <td>1.6.4 [L]</td>
        <td>2011-10-17</td>
        <td>BW Cube</td>
        <td>Support for new OLAP BAPIs (see SAP note 1232751). The feature can be switched on in the settings dialog.</td>
      </tr>
      <tr>
        <td>1.6.3 [L]</td>
        <td>2011-10-07</td>
        <td>Service</td>
        <td>Fix: Service stopped unexpectedly on certain power events</td>
      </tr>
      <tr>
        <td>1.6.1 [L]</td>
        <td>2011-10-04</td>
        <td>Server</td>
        <td>Fix: Sometimes server stopped to handle HTTP request after extractions had been aborted</td>
      </tr>
      <tr>
        <td>1.6.0 [L]</td>
        <td>2011-09-29</td>
        <td>Server</td>
        <td>Added version information retrieval via HTTP</td>
      </tr>
      <tr>
        <td>1.5.5 [L]</td>
        <td>2011-09-22</td>
        <td>Server</td>
        <td>Added 'DistributeSetup' server setting</td>
      </tr>
      <tr>
        <td>1.5.4 [L]</td>
        <td>2011-09-16</td>
        <td>BW Cube</td>
        <td>Added reordering of output columns</td>
      </tr>
      <tr>
        <td>1.5.3 [M]</td>
        <td>2011-09-02</td>
        <td>Server</td>
        <td>Server stability fix</td>
      </tr>
      <tr>
        <td>1.5.2 [M]</td>
        <td>2011-08-29</td>
        <td>Designer</td>
        <td>GUI improvements</td>
      </tr>
      <tr>
        <td>1.5.0 [M]</td>
        <td>2011-08-24</td>
        <td>General</td>
        <td>Several fixes &amp; improvements</td>
      </tr>
      <tr>
        <td>1.4.3 [L]</td>
        <td>2011-08-10</td>
        <td>Designer</td>
        <td>Fix for extraction logs not beeing displayed since 1.4.0</td>
      </tr>
      <tr>
        <td>1.4.2 [L]</td>
        <td>2011-08-09</td>
        <td>Table</td>
        <td>Table packages are now always processed asynchronous</td>
      </tr>
      <tr>
        <td>1.4.0 [M]</td>
        <td>2011-08-04</td>
        <td>Server</td>
        <td>Server stability fixes &amp; improvements</td>
      </tr>
      <tr>
        <td>1.3.12 [L]</td>
        <td>2011-08-04</td>
        <td>Designer</td>
        <td>Fix for Designer crash when right-clicking on extraction list header with empty extraction list</td>
      </tr>
      <tr>
        <td>1.3.9 [L]</td>
        <td>2011-08-02</td>
        <td>Server</td>
        <td>Fix for missing names in log retrieval via HTTP</td>
      </tr>
      <tr>
        <td>1.3.8 [L]</td>
        <td>2011-08-02</td>
        <td>DeltaQ</td>
        <td>Fix for missing RequestID column in metadata retrieval via HTTP (DeltaQ)</td>
      </tr>
      <tr>
        <td>1.3.7 [L]</td>
        <td>2011-07-18</td>
        <td>BW Cube</td>
        <td>Added extraction setting to disable dummy data for BWCube preview</td>
      </tr>
      <tr>
        <td>1.3.6 [L]</td>
        <td>2011-07-14</td>
        <td>Server</td>
        <td>Added metadata retrieval via HTTP for Table &amp; DeltaQ</td>
      </tr>
      <tr>
        <td>1.2.4 [M]</td>
        <td>2011-06-03</td>
        <td>BW Cube</td>
        <td>Fix for BW Cube measures decimal separator if 'Use Caption for Pipline' is set</td>
      </tr>
      <tr>
        <td>1.2.3 [M]</td>
        <td>2011-05-19</td>
        <td>General</td>
        <td>Fix for logging fatal errors of versions &gt;= 1.2.0</td>
      </tr>
      <tr>
        <td>1.2.1 [M]</td>
        <td>2011-05-16</td>
        <td>Server</td>
        <td>Fixes &amp; improvements for buffer</td>
      </tr>
      <tr>
        <td>1.2.0 [M]</td>
        <td>2011-05-12</td>
        <td>Server</td>
        <td>Improved logging &amp; buffer</td>
      </tr>
      <tr>
        <td>1.1.2 [L]</td>
        <td>2011-05-09</td>
        <td>DeltaQ</td>
        <td>Timeout value can be adjusted manually in the DeltaQ settings dialog</td>
      </tr>
      <tr>
        <td>1.1.1 [L]</td>
        <td>2011-05-02</td>
        <td>DeltaQ</td>
        <td>Improved sending of Request IDoc at DeltaQ extraction with timestamp</td>
      </tr>
      <tr>
        <td>1.1.0 [L]</td>
        <td>2011-04-28</td>
        <td>Server</td>
        <td>Added RequestID &amp; RowCount columns to logs via HTTP</td>
      </tr>
      <tr>
        <td>1.0.0 [H]</td>
        <td>2011-04-28</td>
        <td>General</td>
        <td>BOARD Connector first public release</td>
      </tr>
    </tbody>
  </table>
</html>