<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://my.theobald-software.com/ReleaseNotes/ECSCore/ECSCore-2.0.0.html">2.0.0 [M]</a></td><td>2018-11-12</td><td>General</td><td>Launch of the "ECS Core 2.0"(<a class="ReleaseNote" href="https://my.theobald-software.com/ReleaseNotes/ECSCore/ECSCore-2.0.0.html">Release note</a>)</td></tr>
    </tbody>
  </table>
</html>