<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr>
        <td>2.4.0 [L]</td>
        <td>2020-02-03</td>
        <td>Deployment Manager</td>
        <td>Improved web services availability after deployment.</td>
      </tr>
      <tr>
        <td>2.3.2 [L]</td>
        <td>2019-11-26</td>
        <td>Management</td>
        <td>Bugfix: user management in connections.</td>
      </tr>
      <tr>
        <td>2.3.1 [L]</td>
        <td>2019-10-24</td>
        <td>Designer</td>
        <td>Supporting Result Messages of Transaction Recorder.</td>
      </tr>
      <tr>
        <td>2.3.0 [L]</td>
        <td>2019-08-01</td>
        <td>General</td>
        <td>Added Transaction Recorder Activity.</td>
      </tr>
      <tr>
        <td>2.2.2 [L]</td>
        <td>2019-07-01</td>
        <td>General</td>
        <td>Updated to MSBuild 16</td>
      </tr>
      <tr>
        <td>2.2.1 [L]</td>
        <td>2019-04-03</td>
        <td>General</td>
        <td>Unnecessary files removed from the product.</td>
      </tr>
      <tr>
        <td>2.2.0 [M]</td>
        <td>2019-04-03</td>
        <td>General</td>
        <td>A new required dependency for the sap communication library will be automatically installed by the setup.</td>
      </tr>
      <tr>
        <td>2.1.2 [L]</td>
        <td>2019-03-29</td>
        <td>General</td>
        <td>Updated underlying library for SAP communication.</td>
      </tr>
      <tr>
        <td>2.1.1 [L]</td>
        <td>2019-03-05</td>
        <td>General</td>
        <td>Minor UI and internal improvements</td>
      </tr>
      <tr>
        <td>2.1.0 [L]</td>
        <td>2019-02-22</td>
        <td>General</td>
        <td>Supported accept-type extension in the URL without headers</td>
      </tr>
      <tr>
        <td>2.0.2 [L]</td>
        <td>2019-02-12</td>
        <td>General</td>
        <td>Minor UI updates</td>
      </tr>
      <tr>
        <td>2.0.1 [L]</td>
        <td>2018-12-04</td>
        <td>General</td>
        <td>Various improvements and bug fixes.</td>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/ECSCore-2.0.0.html">2.0.0 [H]</a></td><td>2018-11-12</td><td>General</td><td>Launch of the "ECS Core 2.0"(<a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/ECSCore-2.0.0.html">Release note</a>)</td></tr>
    </tbody>
  </table>
</html>