<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr>
        <td>2.1.0 [L]</td>
        <td>2019-02-22</td>
        <td>General</td>
        <td>Supported accept-type extension in the URL without headers</td>
      </tr>
      <tr>
        <td>2.0.2 [L]</td>
        <td>2019-02-12</td>
        <td>General</td>
        <td>Minor UI updates</td>
      </tr>
      <tr>
        <td>2.0.1 [L]</td>
        <td>2018-12-04</td>
        <td>General</td>
        <td>Various improvements and bug fixes.</td>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/ECSCore-2.0.0.html">2.0.0 [H]</a></td><td>2018-11-12</td><td>General</td><td>Launch of the "ECS Core 2.0"(<a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/ECSCore-2.0.0.html">Release note</a>)</td></tr>
    </tbody>
  </table>
</html>