<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr>
        <td>1.7.13 [M]</td>
        <td>2018-10-29</td>
        <td>ERPConnect</td>
        <td>Updated to 6.2.3.3</td>
      </tr>
      <tr>
        <td>1.7.12 [M]</td>
        <td>2018-10-16</td>
        <td>ERPConnect</td>
        <td>Updated to 6.2.2.0</td>
      </tr>
      <tr>
        <td>1.7.11 [L]</td>
        <td>2018-10-09</td>
        <td>ERPConnect</td>
        <td>Updated to 6.2.1.0</td>
      </tr>
      <tr>
        <td>1.7.10 [L]</td>
        <td>2018-10-02</td>
        <td>ERPConnect</td>
        <td>Updated to 6.2.0.5</td>
      </tr>
      <tr>
        <td>1.7.9 [M]</td>
        <td>2018-10-01</td>
        <td>WebServiceDesigner</td>
        <td>Supporting "byte" type, which corresponds to INT1 ABAP type.</td>
      </tr>
      <tr>
        <td>1.7.8 [L]</td>
        <td>2018-08-07</td>
        <td>General</td>
        <td>Fix for ticket issuer error 500 with newer AS Java versions</td>
      </tr>
      <tr>
        <td>1.7.7 [L]</td>
        <td>2018-06-20</td>
        <td>General</td>
        <td>Nintex Actions: service application selection improvements.</td>
      </tr>
      <tr>
        <td>1.7.6 [L]</td>
        <td>2018-06-13</td>
        <td>ECSCore</td>
        <td>Updated JSON Formatting for Responses of Web Service Calls</td>
      </tr>
      <tr>
        <td>1.7.5 [L]</td>
        <td>2018-05-21</td>
        <td>ERPConnect</td>
        <td>Updated to 6.0.0.1</td>
      </tr>
      <tr>
        <td>1.7.4 [L]</td>
        <td>2018-04-17</td>
        <td>General</td>
        <td>Updated EULA</td>
      </tr>
      <tr>
        <td>1.7.3 [L]</td>
        <td>2018-04-10</td>
        <td>ERPConnect</td>
        <td>Downgraded to 5.5.4.0</td>
      </tr>
      <tr>
        <td>1.7.2 [L]</td>
        <td>2018-04-03</td>
        <td>ERPConnect</td>
        <td>Updated to 5.7.3.0</td>
      </tr>
      <tr>
        <td>1.7.1 [L]</td>
        <td>2018-03-26</td>
        <td>ECSDesigner</td>
        <td>Corrected versions of referenced libraries.</td>
      </tr>
      <tr>
        <td>1.7.0 [M]</td>
        <td>2018-03-23</td>
        <td>General</td>
        <td>Nintex Workflow Action "Execute Function" supports Connection Scope.</td>
      </tr>
      <tr>
        <td>1.6.0 [M]</td>
        <td>2017-12-21</td>
        <td>General</td>
        <td>Licensing updated. Improvments in Nintex Workflow Actions.</td>
      </tr>
      <tr>
        <td>1.5.2 [L]</td>
        <td>2017-11-14</td>
        <td>ECSCore</td>
        <td>ECSCore Management services enhancements and improved user handling.</td>
      </tr>
      <tr>
        <td>1.5.1 [M]</td>
        <td>2017-11-10</td>
        <td>WebServiceDesigner</td>
        <td>WebService Designer shows Service Application List. Management Site shows current default Service Application.</td>
      </tr>
      <tr>
        <td>1.5.0 [H]</td>
        <td>2017-11-02</td>
        <td>WebServiceDesigner</td>
        <td>Multiple improvements in the Web Service Designer for ECSCore. Generate OpenAPI 2 definitions (for Microsoft FLOW and Nintex Cloud). Use build-in WebService Test Dialog to test deployed services right away. APIKEY and Basic Authorization are now supported.</td>
      </tr>
      <tr>
        <td>1.4.14 [L]</td>
        <td>2017-10-18</td>
        <td>ERPConnect</td>
        <td>Updated to 5.5.4.0</td>
      </tr>
      <tr>
        <td>1.4.13 [L]</td>
        <td>2017-08-17</td>
        <td>General</td>
        <td>Minor changes in NWA UI</td>
      </tr>
      <tr>
        <td>1.4.12 [L]</td>
        <td>2017-08-16</td>
        <td>ERPConnect</td>
        <td>Updated to 5.4.5.4</td>
      </tr>
      <tr>
        <td>1.4.11 [L]</td>
        <td>2017-08-04</td>
        <td>General</td>
        <td>Removed obsolete client libraries</td>
      </tr>
      <tr>
        <td>1.4.10 [L]</td>
        <td>2017-08-03</td>
        <td>ERPConnect</td>
        <td>Updated to 5.4.0.1</td>
      </tr>
      <tr>
        <td>1.4.9 [M]</td>
        <td>2017-07-12</td>
        <td>ERPConnect</td>
        <td>Updated to 5.3.4.0</td>
      </tr>
      <tr>
        <td>1.4.8 [M]</td>
        <td>2017-07-10</td>
        <td>ERPConnect</td>
        <td>Updated to 5.3.3.0</td>
      </tr>
      <tr>
        <td>1.4.7 [M]</td>
        <td>2017-07-05</td>
        <td>ERPConnect</td>
        <td>Updated to 5.3.2.0</td>
      </tr>
      <tr>
        <td>1.4.6 [M]</td>
        <td>2017-07-04</td>
        <td>ERPConnect</td>
        <td>Updated to 5.3.1.0</td>
      </tr>
      <tr>
        <td>1.4.5 [M]</td>
        <td>2017-05-31</td>
        <td>ERPConnect</td>
        <td>Updated to 5.2.3.0</td>
      </tr>
      <tr>
        <td>1.4.4 [L]</td>
        <td>2017-05-30</td>
        <td>ECSCore</td>
        <td>Fixed a bug when starting the Support Tool as non-administrative user.</td>
      </tr>
      <tr>
        <td>1.4.3 [M]</td>
        <td>2017-04-27</td>
        <td>ERPConnect</td>
        <td>Updated to 5.2.1.0</td>
      </tr>
      <tr>
        <td>1.4.2 [L]</td>
        <td>2017-04-19</td>
        <td>BCSConnector</td>
        <td>Limit LIKE condition values to a max of 20 chars</td>
      </tr>
      <tr>
        <td>1.4.1 [M]</td>
        <td>2017-04-19</td>
        <td>General</td>
        <td>Improved installer for special cases (SP 2016 Farm)</td>
      </tr>
      <tr>
        <td>1.4.0 [L]</td>
        <td>2017-04-06</td>
        <td>General</td>
        <td>Better support of minroles in SharePoint 2016.</td>
      </tr>
      <tr>
        <td>1.3.13 [L]</td>
        <td>2017-03-28</td>
        <td>General</td>
        <td>Minor changes in Nintex Custom Actions ("Security Error" fixed).</td>
      </tr>
      <tr>
        <td>1.3.12 [L]</td>
        <td>2017-03-03</td>
        <td>ERPConnect</td>
        <td>Updated to 5.0.6.1</td>
      </tr>
      <tr>
        <td>1.3.11 [M]</td>
        <td>2017-01-09</td>
        <td>ERPConnect</td>
        <td>Updated to 4.43.6.0</td>
      </tr>
      <tr>
        <td>1.3.10 [M]</td>
        <td>2017-01-05</td>
        <td>General</td>
        <td>Updated internal ERPConnect dependency library</td>
      </tr>
      <tr>
        <td>1.3.9 [L]</td>
        <td>2017-01-05</td>
        <td>ECSCore</td>
        <td>Custom WebServices are preserved during Upgrade</td>
      </tr>
      <tr>
        <td>1.3.8 [L]</td>
        <td>2017-01-03</td>
        <td>ECSCore</td>
        <td>Fixed a bug in WSD Service Generation (ECSUtility)</td>
      </tr>
      <tr>
        <td>1.3.7 [M]</td>
        <td>2016-11-23</td>
        <td>ECSCore</td>
        <td>Fixed bug with ConnectionScope.</td>
      </tr>
      <tr>
        <td>1.3.6 [L]</td>
        <td>2016-11-10</td>
        <td>ECSCore</td>
        <td>Consolidated dependencies between subproducts</td>
      </tr>
      <tr>
        <td>1.3.5 [L]</td>
        <td>2016-10-14</td>
        <td>ECSCore</td>
        <td>Updated Component Registration to support CORS without Azure Service Bus</td>
      </tr>
      <tr>
        <td>1.3.4 [L]</td>
        <td>2016-10-04</td>
        <td>ECSCore</td>
        <td>XtractQLExplorer added into ECSCore Package.</td>
      </tr>
      <tr>
        <td>1.3.3 [M]</td>
        <td>2016-09-15</td>
        <td>WebServiceDesigner</td>
        <td>Bug-fix in WebServiceDesinger for SharePoint 2010</td>
      </tr>
      <tr>
        <td>1.3.1 [M]</td>
        <td>2016-09-07</td>
        <td>General</td>
        <td>Added support for NintexWorkflow Actions for SharePoint 2016</td>
      </tr>
      <tr>
        <td>1.3.0 [M]</td>
        <td>2016-08-03</td>
        <td>General</td>
        <td>Added support for SharePoint 2016.</td>
      </tr>
      <tr>
        <td>1.2.31 [H]</td>
        <td>2016-07-25</td>
        <td>ECSCore</td>
        <td>Updated Publishing of Websites</td>
      </tr>
      <tr>
        <td>1.2.29 [L]</td>
        <td>2016-05-30</td>
        <td>General</td>
        <td>Updated Nintex Custom Actions: Added dialog for structure details.</td>
      </tr>
      <tr>
        <td>1.2.28 [M]</td>
        <td>2016-05-25</td>
        <td>General</td>
        <td>Fixed bug with language by table look up in Nintex Actions</td>
      </tr>
      <tr>
        <td>1.2.27 [L]</td>
        <td>2016-02-23</td>
        <td>ECSDesigner</td>
        <td>Added support for Visual Studio 2015 (ECS Core)</td>
      </tr>
      <tr>
        <td>1.2.26 [L]</td>
        <td>2016-02-22</td>
        <td>ECSDesigner</td>
        <td>Added support for Visual Studio 2015</td>
      </tr>
      <tr>
        <td>1.2.25 [L]</td>
        <td>2015-12-08</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug with invalid package names.</td>
      </tr>
      <tr>
        <td>1.2.24 [L]</td>
        <td>2015-11-30</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug with OData nullable entity types.</td>
      </tr>
      <tr>
        <td>1.2.23 [L]</td>
        <td>2015-09-16</td>
        <td>WebServiceDesigner</td>
        <td>Added special About dialog to designer.</td>
      </tr>
      <tr>
        <td>1.2.22 [L]</td>
        <td>2015-08-07</td>
        <td>General</td>
        <td>Fixed bug in SNC load balancing connection logic for ECS service applications.</td>
      </tr>
      <tr>
        <td>1.2.21 [L]</td>
        <td>2015-08-05</td>
        <td>General</td>
        <td>Added CORS support for ECS core services.</td>
      </tr>
      <tr>
        <td>1.2.20 [L]</td>
        <td>2015-07-30</td>
        <td>General</td>
        <td>Updated support for message server definitions with SNC settings.</td>
      </tr>
      <tr>
        <td>1.2.19 [L]</td>
        <td>2015-07-30</td>
        <td>WebServiceDesigner</td>
        <td>Updated support for numeric data types of table activity.</td>
      </tr>
      <tr>
        <td>1.2.18 [L]</td>
        <td>2015-07-25</td>
        <td>WebServiceDesigner</td>
        <td>Updated logic to handle numeric data types with table activity.</td>
      </tr>
      <tr>
        <td>1.2.17 [L]</td>
        <td>2015-07-13</td>
        <td>General</td>
        <td>Added EXE-based installer for Nintex Actions' WSP solution for SharePoint 2010</td>
      </tr>
      <tr>
        <td>1.2.16 [L]</td>
        <td>2015-07-13</td>
        <td>General</td>
        <td>Updated Nintex Custom Actions to next iteration (SP2010 &amp; SP2013). Added function and table search dialog. Added multiple dialogs for table and row management. Added changings to function module.</td>
      </tr>
      <tr>
        <td>1.2.15 [L]</td>
        <td>2015-06-24</td>
        <td>General</td>
        <td>Added EXE-based installer for Nintex Actions' WSP solution</td>
      </tr>
      <tr>
        <td>1.2.14 [L]</td>
        <td>2015-06-19</td>
        <td>ECSCore</td>
        <td>Updated logic to add secure store credentials via Core API.</td>
      </tr>
      <tr>
        <td>1.2.13 [L]</td>
        <td>2015-06-09</td>
        <td>BCSConnector</td>
        <td>Updated validation logic to handle more than 300 selected fields per entity.</td>
      </tr>
      <tr>
        <td>1.2.12 [L]</td>
        <td>2015-06-08</td>
        <td>General</td>
        <td>Updated error logging in CA management pages.</td>
      </tr>
      <tr>
        <td>1.2.11 [L]</td>
        <td>2015-06-02</td>
        <td>General</td>
        <td>Integrated custom Nintex Workflow actions into ECS2010</td>
      </tr>
      <tr>
        <td>1.2.10 [L]</td>
        <td>2015-05-26</td>
        <td>WebServiceDesigner</td>
        <td>Added logic to support optional parameters for OData service operations in SharePoint.</td>
      </tr>
      <tr>
        <td>1.2.9 [L]</td>
        <td>2015-05-26</td>
        <td>WebServiceDesigner</td>
        <td>Improved exception logging for OData services.</td>
      </tr>
      <tr>
        <td>1.2.8 [L]</td>
        <td>2015-05-19</td>
        <td>General</td>
        <td>Fix for Commit behaviour in Nintex component</td>
      </tr>
      <tr>
        <td>1.2.7 [L]</td>
        <td>2015-05-06</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in default value code generation (for number types) of OData services generated by WSD. </td>
      </tr>
      <tr>
        <td>1.2.6 [L]</td>
        <td>2015-05-06</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in service operation code generation (return values) of OData services generated by WSD. </td>
      </tr>
      <tr>
        <td>1.2.5 [L]</td>
        <td>2015-05-05</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in service operation visibility of OData services generated by WSD. </td>
      </tr>
      <tr>
        <td>1.2.4 [L]</td>
        <td>2015-04-17</td>
        <td>ECSCore</td>
        <td>Fixed bug in deployment manager (finish button).</td>
      </tr>
      <tr>
        <td>1.2.3 [L]</td>
        <td>2015-04-13</td>
        <td>ECSCore</td>
        <td>Added logic to check secure store credentials via Core API.</td>
      </tr>
      <tr>
        <td>1.2.2 [L]</td>
        <td>2015-04-11</td>
        <td>ECSCore</td>
        <td>Added logic to add and delete secure store credentials via Core API.</td>
      </tr>
      <tr>
        <td>1.2.1 [L]</td>
        <td>2015-03-25</td>
        <td>ECSCore</td>
        <td>Updated logic to add and display user for secure stores and service applications.</td>
      </tr>
      <tr>
        <td>1.2.0 [M]</td>
        <td>2015-03-24</td>
        <td>General</td>
        <td>Windows logon name is used for impersonation instead of UPN (SNC/Ticket Issuer)</td>
      </tr>
      <tr>
        <td>1.1.183 [L]</td>
        <td>2015-03-24</td>
        <td>General</td>
        <td>Improved trace messages for claims</td>
      </tr>
      <tr>
        <td>1.1.182 [L]</td>
        <td>2015-03-24</td>
        <td>ECSCore</td>
        <td>Update logic to retrieve user account data from APISESSION key (also valid for Bearer authentication).</td>
      </tr>
      <tr>
        <td>1.1.181 [L]</td>
        <td>2015-03-19</td>
        <td>General</td>
        <td>Improved trace messages for claims identity (SSO)</td>
      </tr>
      <tr>
        <td>1.1.180 [L]</td>
        <td>2015-02-27</td>
        <td>BCSConnector</td>
        <td>Updated logic to catch metadata exceptions generated by BCS Servcies.</td>
      </tr>
      <tr>
        <td>1.1.179 [L]</td>
        <td>2015-02-25</td>
        <td>General</td>
        <td>Updated logic to access C2WTS for SNC connections.</td>
      </tr>
      <tr>
        <td>1.1.178 [L]</td>
        <td>2015-02-19</td>
        <td>General</td>
        <td>Added new Nintex Workflow actions: CallBAPI and ReadTable</td>
      </tr>
      <tr>
        <td>1.1.177 [L]</td>
        <td>2015-01-29</td>
        <td>General</td>
        <td>Updated logging default values for SP diagnositcs.</td>
      </tr>
      <tr>
        <td>1.1.176 [L]</td>
        <td>2015-01-28</td>
        <td>WebServiceDesigner</td>
        <td>Changed to logic to retrieve SharePoint URL for WS publishing.</td>
      </tr>
      <tr>
        <td>1.1.175 [L]</td>
        <td>2015-01-20</td>
        <td>WebServiceDesigner</td>
        <td>Changed to logic to retrieve SharePoint URL for ECS dialog.</td>
      </tr>
      <tr>
        <td>1.1.174 [L]</td>
        <td>2014-12-08</td>
        <td>ECSDesigner</td>
        <td>Added support to handle metadata cache for SAP function modules (VS2012); updated context base class.</td>
      </tr>
      <tr>
        <td>1.1.173 [L]</td>
        <td>2014-12-07</td>
        <td>ECSCore</td>
        <td>Updated logic to handle uploading extensions.</td>
      </tr>
      <tr>
        <td>1.1.172 [L]</td>
        <td>2014-12-07</td>
        <td>WebServiceDesigner</td>
        <td>Added support for ECS Core OData services.</td>
      </tr>
      <tr>
        <td>1.1.171 [L]</td>
        <td>2014-12-05</td>
        <td>WebServiceDesigner</td>
        <td>Updated application titles.</td>
      </tr>
      <tr>
        <td>1.1.170 [L]</td>
        <td>2014-12-04</td>
        <td>ECSDesigner</td>
        <td>Added support to handle metadata cache for SAP function modules.</td>
      </tr>
      <tr>
        <td>1.1.169 [L]</td>
        <td>2014-12-02</td>
        <td>ECSCore</td>
        <td>Added OData V3/V4 support for ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.168 [L]</td>
        <td>2014-11-17</td>
        <td>ECSCore</td>
        <td>Fixed bug in connection scoping.</td>
      </tr>
      <tr>
        <td>1.1.167 [L]</td>
        <td>2014-11-14</td>
        <td>General</td>
        <td>Updated exception logging during the retrieval of target applications from the secure store service.</td>
      </tr>
      <tr>
        <td>1.1.166 [L]</td>
        <td>2014-11-06</td>
        <td>General</td>
        <td>Updated ECS Runtime service instances to support PowerShell creation.</td>
      </tr>
      <tr>
        <td>1.1.165 [L]</td>
        <td>2014-11-04</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService Designer setup.</td>
      </tr>
      <tr>
        <td>1.1.164 [L]</td>
        <td>2014-11-04</td>
        <td>WebServiceDesigner</td>
        <td>Updated exception handling for activity type loading logic in WebService Designer.</td>
      </tr>
      <tr>
        <td>1.1.163 [L]</td>
        <td>2014-11-03</td>
        <td>General</td>
        <td>Updated timeout logic for internal service application proxy (ECS Runtime).</td>
      </tr>
      <tr>
        <td>1.1.162 [L]</td>
        <td>2014-11-01</td>
        <td>General</td>
        <td>Updated timeout logic for desktop client (ECS Runtime).</td>
      </tr>
      <tr>
        <td>1.1.161 [L]</td>
        <td>2014-10-27</td>
        <td>General</td>
        <td>Updated timeout logic for desktop and Silverlight clients (ECS Runtime).</td>
      </tr>
      <tr>
        <td>1.1.160 [L]</td>
        <td>2014-10-23</td>
        <td>ECSCore</td>
        <td>Updated exception handling in ClientCore library for ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.159 [L]</td>
        <td>2014-10-22</td>
        <td>ECSCore</td>
        <td>Changed logic for authentication headers for ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.158 [L]</td>
        <td>2014-10-21</td>
        <td>ECSCore</td>
        <td>Fixed bug in ECS Core management site while adding or updating API Key username.</td>
      </tr>
      <tr>
        <td>1.1.157 [L]</td>
        <td>2014-10-21</td>
        <td>ECSCore</td>
        <td>Added support for Bearer access token authentication to ClientCore library.</td>
      </tr>
      <tr>
        <td>1.1.156 [L]</td>
        <td>2014-10-21</td>
        <td>ECSCore</td>
        <td>Updated logic to handle Bearer access tokens for ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.155 [L]</td>
        <td>2014-10-20</td>
        <td>ECSCore</td>
        <td>Updated Azure Service Bus authentication to support Bearer access token for ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.154 [L]</td>
        <td>2014-10-20</td>
        <td>General</td>
        <td>Updated WCF timeout values for ECS Runtime base services.</td>
      </tr>
      <tr>
        <td>1.1.153 [L]</td>
        <td>2014-10-16</td>
        <td>ECSCore</td>
        <td>Updated API Key authentication logic to support HMAC SHA256 signatures.</td>
      </tr>
      <tr>
        <td>1.1.152 [L]</td>
        <td>2014-10-16</td>
        <td>ECSCore</td>
        <td>Fixed bug in error handling for service bus integration in ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.151 [L]</td>
        <td>2014-10-13</td>
        <td>ECSCore</td>
        <td>Added logic to support API sessions used for SSO handling in ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.150 [L]</td>
        <td>2014-10-10</td>
        <td>ECSCore</td>
        <td>Added support to display BASE64 encoded API Key in management console.</td>
      </tr>
      <tr>
        <td>1.1.149 [L]</td>
        <td>2014-10-02</td>
        <td>ECSCore</td>
        <td>Updated API Key authentication logic for ECS Core to support CORS handling.</td>
      </tr>
      <tr>
        <td>1.1.148 [L]</td>
        <td>2014-10-01</td>
        <td>ECSCore</td>
        <td>Updated API Key authentication logic for ECS Core.</td>
      </tr>
      <tr>
        <td>1.1.147 [L]</td>
        <td>2014-10-01</td>
        <td>ECSCore</td>
        <td>Added API Key authentication method for Azure service bus relay access.</td>
      </tr>
      <tr>
        <td>1.1.146 [L]</td>
        <td>2014-09-29</td>
        <td>General</td>
        <td>Fixed bug in logic to return multiple results for XQL statements.</td>
      </tr>
      <tr>
        <td>1.1.145 [L]</td>
        <td>2014-09-29</td>
        <td>ECSCore</td>
        <td>Updated ECS Core to support ACS and SAS authentication for Azure Service Bus registration.</td>
      </tr>
      <tr>
        <td>1.1.144 [L]</td>
        <td>2014-09-25</td>
        <td>General</td>
        <td>Fixed bug in code to handle multiple results for ECS Workflow Action QueryXQL.</td>
      </tr>
      <tr>
        <td>1.1.143 [L]</td>
        <td>2014-09-24</td>
        <td>General</td>
        <td>Updated logic for ECS Workflow Action QueryXQL.</td>
      </tr>
      <tr>
        <td>1.1.142 [L]</td>
        <td>2014-09-24</td>
        <td>General</td>
        <td>Updated ECS workflow action QueryXQL for Nintex Workflow to support multiple results.</td>
      </tr>
      <tr>
        <td>1.1.141 [L]</td>
        <td>2014-09-24</td>
        <td>General</td>
        <td>Updated ECS Runtime to support additional functions to execute and to return multiple results in XQL statements.</td>
      </tr>
      <tr>
        <td>1.1.140 [L]</td>
        <td>2014-09-15</td>
        <td>General</td>
        <td>Updated feature activation logging for ECS Runtime,</td>
      </tr>
      <tr>
        <td>1.1.139 [L]</td>
        <td>2014-09-10</td>
        <td>General</td>
        <td>Updated feature logging and resource handling.</td>
      </tr>
      <tr>
        <td>1.1.138 [L]</td>
        <td>2014-09-09</td>
        <td>General</td>
        <td>Fix for SNC/Ticket Issuer logging</td>
      </tr>
      <tr>
        <td>1.1.137 [L]</td>
        <td>2014-08-13</td>
        <td>General</td>
        <td>Updated client classes to support extensibility points.</td>
      </tr>
      <tr>
        <td>1.1.136 [L]</td>
        <td>2014-07-29</td>
        <td>General</td>
        <td>Updated SSO ticket scope handling in ECS client and proxy class.</td>
      </tr>
      <tr>
        <td>1.1.135 [L]</td>
        <td>2014-07-23</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in operation copying.</td>
      </tr>
      <tr>
        <td>1.1.134 [L]</td>
        <td>2014-07-23</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in code generation for OData services (key name handling).</td>
      </tr>
      <tr>
        <td>1.1.133 [L]</td>
        <td>2014-07-15</td>
        <td>General</td>
        <td>Updated secure store web part to handle invalid target applications.</td>
      </tr>
      <tr>
        <td>1.1.132 [L]</td>
        <td>2014-07-15</td>
        <td>ECSCore</td>
        <td>Added support to connect ECS Core with Azure Service Bus.</td>
      </tr>
      <tr>
        <td>1.1.131 [L]</td>
        <td>2014-07-15</td>
        <td>ECSCore</td>
        <td>Updated internal used frameworks to newer versions.</td>
      </tr>
      <tr>
        <td>1.1.130 [L]</td>
        <td>2014-07-11</td>
        <td>WebServiceDesigner</td>
        <td>Updated metadata service endpoint namespace for auto-generated WCF services.</td>
      </tr>
      <tr>
        <td>1.1.129 [L]</td>
        <td>2014-06-30</td>
        <td>General</td>
        <td>Refactored SAP cookie parsing, increased logging verbosity</td>
      </tr>
      <tr>
        <td>1.1.128 [L]</td>
        <td>2014-06-27</td>
        <td>General</td>
        <td>Updated logic to retrieve secure stores in the process of creating ECS service applications.</td>
      </tr>
      <tr>
        <td>1.1.127 [L]</td>
        <td>2014-06-27</td>
        <td>WebServiceDesigner</td>
        <td>Updated validation logic and button naming.</td>
      </tr>
      <tr>
        <td>1.1.126 [L]</td>
        <td>2014-06-26</td>
        <td>BCSConnector</td>
        <td>Updated logic to integrate ECS Runtime.</td>
      </tr>
      <tr>
        <td>1.1.125 [L]</td>
        <td>2014-06-26</td>
        <td>WebServiceDesigner</td>
        <td>Added logic to update SAP function module and table structures after creating activities.</td>
      </tr>
      <tr>
        <td>1.1.124 [L]</td>
        <td>2014-06-24</td>
        <td>WebServiceDesigner</td>
        <td>Added logic to automap structure elements in mapping dialog.</td>
      </tr>
      <tr>
        <td>1.1.123 [L]</td>
        <td>2014-06-23</td>
        <td>WebServiceDesigner</td>
        <td>Updated logic to save SAP connection data; added logic to save recent used SAP object names.</td>
      </tr>
      <tr>
        <td>1.1.122 [L]</td>
        <td>2014-06-23</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService designer to save SAP connection data.</td>
      </tr>
      <tr>
        <td>1.1.121 [L]</td>
        <td>2014-06-22</td>
        <td>General</td>
        <td>C2WTS logon name for Ticket Issuer contains domain part now</td>
      </tr>
      <tr>
        <td>1.1.120 [L]</td>
        <td>2014-06-22</td>
        <td>BCSConnector</td>
        <td>Updated BCSConnector runtime to support ECS service applications.</td>
      </tr>
      <tr>
        <td>1.1.119 [L]</td>
        <td>2014-06-20</td>
        <td>General</td>
        <td>Refactored Windows impersonation (SNC &amp; Ticket Issuer), increased logging verbosity.</td>
      </tr>
      <tr>
        <td>1.1.118 [L]</td>
        <td>2014-06-19</td>
        <td>General</td>
        <td>Updated logic to support ticket server handling.</td>
      </tr>
      <tr>
        <td>1.1.117 [L]</td>
        <td>2014-06-12</td>
        <td>ECSDesigner</td>
        <td>Added serialization attributes to generated designer classes.</td>
      </tr>
      <tr>
        <td>1.1.116 [L]</td>
        <td>2014-06-12</td>
        <td>General</td>
        <td>Added default serialization attributes to ERP classes.</td>
      </tr>
      <tr>
        <td>1.1.115 [L]</td>
        <td>2014-04-22</td>
        <td>General</td>
        <td>Updated logic to support ticket server cookies.</td>
      </tr>
      <tr>
        <td>1.1.114 [L]</td>
        <td>2014-04-14</td>
        <td>General</td>
        <td>Updated URL textbox input length for ticket issuer server in ECS Runtime.</td>
      </tr>
      <tr>
        <td>1.1.113 [L]</td>
        <td>2014-04-10</td>
        <td>General</td>
        <td>Updated logic to install ECS demo licenes in SharePoint farm.</td>
      </tr>
      <tr>
        <td>1.1.112 [L]</td>
        <td>2014-04-10</td>
        <td>General</td>
        <td>Updated web parts solution feature to avoid automatic activation in central administration.</td>
      </tr>
      <tr>
        <td>1.1.111 [L]</td>
        <td>2014-04-10</td>
        <td>General</td>
        <td>Updated logic to set MaxLength property for result data tables in XtractQL.</td>
      </tr>
      <tr>
        <td>1.1.110 [L]</td>
        <td>2014-04-09</td>
        <td>General</td>
        <td>Updated ECS Runtime ticket issuing logic with SAP ticket server.</td>
      </tr>
      <tr>
        <td>1.1.109 [L]</td>
        <td>2014-04-08</td>
        <td>General</td>
        <td>Updated error handling during license installation.</td>
      </tr>
      <tr>
        <td>1.1.108 [L]</td>
        <td>2014-04-02</td>
        <td>General</td>
        <td>Updated Support-Tool to allow the installation of the ERPConnect Service to additional SharePoint servers.</td>
      </tr>
      <tr>
        <td>1.1.107 [L]</td>
        <td>2014-03-31</td>
        <td>General</td>
        <td>Updated administration check in setup.</td>
      </tr>
      <tr>
        <td>1.1.106 [L]</td>
        <td>2014-03-20</td>
        <td>ECSDesigner</td>
        <td>Updated ECS Designer for Visual Studio 2013.</td>
      </tr>
      <tr>
        <td>1.1.105 [L]</td>
        <td>2014-03-19</td>
        <td>General</td>
        <td>Updated SharePoint prerequisites in setup program.</td>
      </tr>
      <tr>
        <td>1.1.104 [L]</td>
        <td>2014-03-18</td>
        <td>ECSDesigner</td>
        <td>Updated ECS Designer to support Visual Studio 2013.</td>
      </tr>
      <tr>
        <td>1.1.103 [L]</td>
        <td>2014-03-17</td>
        <td>ECSDesigner</td>
        <td>Updated client library logic in ECS Designer to support common assemblies for SharePoint projects.</td>
      </tr>
      <tr>
        <td>1.1.102 [L]</td>
        <td>2014-03-16</td>
        <td>General</td>
        <td>Updated the anonymous access handling for ECS Runtime.</td>
      </tr>
      <tr>
        <td>1.1.101 [L]</td>
        <td>2014-03-14</td>
        <td>General</td>
        <td>Updated ECS menus in central administration.</td>
      </tr>
      <tr>
        <td>1.1.100 [L]</td>
        <td>2014-03-10</td>
        <td>General</td>
        <td>Added resources to ECS features.</td>
      </tr>
      <tr>
        <td>1.1.99 [L]</td>
        <td>2014-03-08</td>
        <td>General</td>
        <td>Updated deployment strategy programm of SharePoint solutions.</td>
      </tr>
      <tr>
        <td>1.1.98 [L]</td>
        <td>2014-03-01</td>
        <td>General</td>
        <td>Updated ERPConnect library to version 4.17.4.9.</td>
      </tr>
      <tr>
        <td>1.1.97 [L]</td>
        <td>2014-02-27</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in setup working directory regarding key file problem within WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.96 [L]</td>
        <td>2014-02-25</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in Execute Table activity regarding the Where clause of WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.95 [L]</td>
        <td>2014-02-20</td>
        <td>WebServiceDesigner</td>
        <td>Updated logic of initialization of custom data type properties for WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.94 [L]</td>
        <td>2014-02-20</td>
        <td>WebServiceDesigner</td>
        <td>Added service operation catalog to the WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.93 [L]</td>
        <td>2014-02-17</td>
        <td>WebServiceDesigner</td>
        <td>Updated logic of initialization of input parameters and variables for WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.92 [L]</td>
        <td>2014-02-16</td>
        <td>WebServiceDesigner</td>
        <td>Added new Switch Cases activity to the WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.91 [L]</td>
        <td>2014-02-12</td>
        <td>WebServiceDesigner</td>
        <td>Added new Add Item activity to the WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.90 [L]</td>
        <td>2014-02-12</td>
        <td>WebServiceDesigner</td>
        <td>Added new Custom Code activity to the WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.89 [L]</td>
        <td>2014-02-12</td>
        <td>WebServiceDesigner</td>
        <td>Updated logic the for Assign Value activity of the WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.88 [L]</td>
        <td>2014-02-10</td>
        <td>WebServiceDesigner</td>
        <td>Added service link to web service overview in CA for WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.87 [L]</td>
        <td>2014-02-10</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in OData support of WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.86 [L]</td>
        <td>2014-02-06</td>
        <td>WebServiceDesigner</td>
        <td>Added support to change options and test SAP connections of web services created by WebService designer within the Central Administration website.</td>
      </tr>
      <tr>
        <td>1.1.85 [L]</td>
        <td>2014-02-05</td>
        <td>General</td>
        <td>Updated logic to support special or invalid SharePoint server (ECS2013)</td>
      </tr>
      <tr>
        <td>1.1.84 [L]</td>
        <td>2014-01-30</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in code generation within the ECS designer; updated logic for client library reference checking.</td>
      </tr>
      <tr>
        <td>1.1.83 [L]</td>
        <td>2014-01-27</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService designer to support OData web services.</td>
      </tr>
      <tr>
        <td>1.1.82 [L]</td>
        <td>2014-01-27</td>
        <td>WebServiceDesigner</td>
        <td>Updated assignment sctivity to support property assigments for custom data types for WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.81 [L]</td>
        <td>2014-01-27</td>
        <td>WebServiceDesigner</td>
        <td>Added support to import table and function structures for custom data type properties for WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.80 [L]</td>
        <td>2014-01-24</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bugs in WebServie designer Visual Studio export logic.</td>
      </tr>
      <tr>
        <td>1.1.79 [L]</td>
        <td>2014-01-23</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService designer logic to support max transfer rate for web service. Added logic to log exception in SharePoint log files.</td>
      </tr>
      <tr>
        <td>1.1.78 [L]</td>
        <td>2014-01-23</td>
        <td>WebServiceDesigner</td>
        <td>Updated default value logic for input parameter of WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.77 [L]</td>
        <td>2014-01-23</td>
        <td>WebServiceDesigner</td>
        <td>Updated table search dialog to support description search for WebService designer. Fixed bugs in custom data type logic.</td>
      </tr>
      <tr>
        <td>1.1.76 [L]</td>
        <td>2014-01-22</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService-Designer to support SharePoint site URL in Visual Studio export.</td>
      </tr>
      <tr>
        <td>1.1.75 [L]</td>
        <td>2014-01-16</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService-Designer (minor changes).</td>
      </tr>
      <tr>
        <td>1.1.74 [L]</td>
        <td>2014-01-16</td>
        <td>General</td>
        <td>Updated ERPConnect library to version 4.17.1.0.</td>
      </tr>
      <tr>
        <td>1.1.73 [L]</td>
        <td>2014-01-08</td>
        <td>BCSConnector</td>
        <td>Updated solution naming for BCSConnector.</td>
      </tr>
      <tr>
        <td>1.1.72 [L]</td>
        <td>2014-01-07</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bugs in WebServcie designer (function activity dialog default view).</td>
      </tr>
      <tr>
        <td>1.1.71 [L]</td>
        <td>2013-12-19</td>
        <td>General</td>
        <td>Added Nintex Workflow Actions to ECS 2013.</td>
      </tr>
      <tr>
        <td>1.1.70 [L]</td>
        <td>2013-12-18</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bugs in WebServcie designer.</td>
      </tr>
      <tr>
        <td>1.1.69 [L]</td>
        <td>2013-12-16</td>
        <td>WebServiceDesigner</td>
        <td>Updated SP2010 external deployment tool.</td>
      </tr>
      <tr>
        <td>1.1.68 [L]</td>
        <td>2013-12-16</td>
        <td>General</td>
        <td>Updated License Manager solution to distribute system files; updated setup to deliver BCS Connector Runtime as solution.</td>
      </tr>
      <tr>
        <td>1.1.67 [L]</td>
        <td>2013-12-10</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService-Designer to now support direct deployment on SP2010 servers.</td>
      </tr>
      <tr>
        <td>1.1.66 [L]</td>
        <td>2013-12-10</td>
        <td>General</td>
        <td>Updated logic to support special or invalid SharePoint server while creating ECS instances and logging services.</td>
      </tr>
      <tr>
        <td>1.1.65 [L]</td>
        <td>2013-12-10</td>
        <td>WebServiceDesigner</td>
        <td>Updated WebService-Designer logos and images.</td>
      </tr>
      <tr>
        <td>1.1.64 [L]</td>
        <td>2013-11-27</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bug in VS solution generation within the WebServcie designer.</td>
      </tr>
      <tr>
        <td>1.1.63 [L]</td>
        <td>2013-11-27</td>
        <td>WebServiceDesigner</td>
        <td>Fixed bugs in the context menu implementation of WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.62 [L]</td>
        <td>2013-11-27</td>
        <td>WebServiceDesigner</td>
        <td>Updated copy and paste feature in WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.61 [L]</td>
        <td>2013-11-27</td>
        <td>General</td>
        <td>Updated ECS setup to display complete product version.</td>
      </tr>
      <tr>
        <td>1.1.60 [L]</td>
        <td>2013-11-26</td>
        <td>General</td>
        <td>Fixed bug in SNC logic (connection string problem) for ECS Runtime.</td>
      </tr>
      <tr>
        <td>1.1.59 [L]</td>
        <td>2013-11-23</td>
        <td>General</td>
        <td>Updated SNC logic (domain name problem) for ECS Runtime.</td>
      </tr>
      <tr>
        <td>1.1.58 [L]</td>
        <td>2013-11-22</td>
        <td>General</td>
        <td>Updated SNC logic (domain name problem) for ECS Runtime.</td>
      </tr>
      <tr>
        <td>1.1.57 [L]</td>
        <td>2013-11-22</td>
        <td>General</td>
        <td>Fixed bug in SecureStore webpart for SP2010 and SP2013 (with CBA).</td>
      </tr>
      <tr>
        <td>1.1.56 [L]</td>
        <td>2013-11-21</td>
        <td>WebServiceDesigner</td>
        <td>Added activation/deactivation feature to WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.55 [L]</td>
        <td>2013-11-20</td>
        <td>WebServiceDesigner</td>
        <td>Added zoom and panning feature to WebService designer.</td>
      </tr>
      <tr>
        <td>1.1.54 [L]</td>
        <td>2013-11-16</td>
        <td>WebServiceDesigner</td>
        <td>Added WebService-Designer component to ECS2010.</td>
      </tr>
      <tr>
        <td>1.1.53 [L]</td>
        <td>2013-11-14</td>
        <td>WebServiceDesigner</td>
        <td>Added WebService-Designer component to ECS2013.</td>
      </tr>
      <tr>
        <td>1.1.52 [L]</td>
        <td>2013-11-11</td>
        <td>General</td>
        <td>Updated ERPConnect library to version 4.13.7.0.</td>
      </tr>
      <tr>
        <td>1.1.51 [L]</td>
        <td>2013-10-23</td>
        <td>General</td>
        <td>Updated SecureStore webpart for SP2010 and SP2013.</td>
      </tr>
      <tr>
        <td>1.1.50 [L]</td>
        <td>2013-10-18</td>
        <td>General</td>
        <td>Updated solutions and SecureStore webpart for SP2013.</td>
      </tr>
      <tr>
        <td>1.1.49 [L]</td>
        <td>2013-10-15</td>
        <td>General</td>
        <td>Updated SecureStore webpart for SP2010.</td>
      </tr>
      <tr>
        <td>1.1.48 [L]</td>
        <td>2013-10-11</td>
        <td>BCSConnector</td>
        <td>Updated BCSConnector solution file to support tarcing.</td>
      </tr>
      <tr>
        <td>1.1.47 [L]</td>
        <td>2013-09-03</td>
        <td>General</td>
        <td>Updated max length SNC partner name to allow longer names.</td>
      </tr>
      <tr>
        <td>1.1.46 [L]</td>
        <td>2013-09-03</td>
        <td>BCSConnector</td>
        <td>Added LIBRFC32.DLL to BCS Connector solution file (WSP).</td>
      </tr>
      <tr>
        <td>1.1.45 [L]</td>
        <td>2013-09-02</td>
        <td>BCSConnector</td>
        <td>Added BCS Connector solution file (WSP)  to Client setup to allow independent installation.</td>
      </tr>
      <tr>
        <td>1.1.44 [L]</td>
        <td>2013-08-09</td>
        <td>BCSConnector</td>
        <td>Fixed bug in identifier and namespace validation methods.</td>
      </tr>
      <tr>
        <td>1.1.43 [L]</td>
        <td>2013-08-08</td>
        <td>General</td>
        <td>Updated ERPConnect library to version 4.11.5.3.</td>
      </tr>
      <tr>
        <td>1.1.42 [L]</td>
        <td>2013-06-29</td>
        <td>ECSDesigner</td>
        <td>Updated ECS designer to support different target platforms (SP2010, SP2013 and Core).</td>
      </tr>
      <tr>
        <td>1.1.41 [L]</td>
        <td>2013-06-29</td>
        <td>General</td>
        <td>Updated JSON serialization (REST) to support the RFC types BCD, FLOAT and INT.</td>
      </tr>
      <tr>
        <td>1.1.40 [L]</td>
        <td>2013-06-20</td>
        <td>General</td>
        <td>Updated JSON serialization (REST) to support named function parameters.</td>
      </tr>
      <tr>
        <td>1.1.39 [L]</td>
        <td>2013-05-31</td>
        <td>General</td>
        <td>Added XtractQL Explorer to Client Tools installation for ECS 2010 and 2013.</td>
      </tr>
      <tr>
        <td>1.1.38 [L]</td>
        <td>2013-05-29</td>
        <td>General</td>
        <td>Updated JSON serialization (REST) to support nested structures and tables.</td>
      </tr>
      <tr>
        <td>1.1.37 [L]</td>
        <td>2013-05-13</td>
        <td>General</td>
        <td>Updated JSON libraries to new version.</td>
      </tr>
      <tr>
        <td>1.1.36 [L]</td>
        <td>2013-04-30</td>
        <td>General</td>
        <td>Updated ERPConnect library to version 4.8.5.4.</td>
      </tr>
      <tr>
        <td>1.1.35 [L]</td>
        <td>2013-04-26</td>
        <td>General</td>
        <td>Updated ERPConnect library to version 4.8.4.9.</td>
      </tr>
      <tr>
        <td>1.1.34 [L]</td>
        <td>2013-03-27</td>
        <td>General</td>
        <td>Updated logic in client lib regarding SPServiceContext of ECS.</td>
      </tr>
      <tr>
        <td>1.1.33 [L]</td>
        <td>2013-03-27</td>
        <td>General</td>
        <td>Updated ERPConnect library assemblies to the version 4.6.5.14.</td>
      </tr>
      <tr>
        <td>1.1.32 [L]</td>
        <td>2013-03-20</td>
        <td>General</td>
        <td>Changed code metrics to match MSOCAF rules.</td>
      </tr>
      <tr>
        <td>1.1.31 [L]</td>
        <td>2013-03-19</td>
        <td>General</td>
        <td>Added ECS Actions for Nintex Workflow 2010 as separate SharePoint solution.</td>
      </tr>
      <tr>
        <td>1.1.30 [L]</td>
        <td>2013-03-12</td>
        <td>General</td>
        <td>Fixed bug in XtractQL with structural assignments in function modules.</td>
      </tr>
      <tr>
        <td>1.1.29 [L]</td>
        <td>2013-01-17</td>
        <td>General</td>
        <td>Added HTML5 web demos to ECS 2013, available as solution file. Upgraded ERPConnect35/45.dll to version 4.5.29.0.</td>
      </tr>
      <tr>
        <td>1.1.28 [L]</td>
        <td>2013-01-15</td>
        <td>General</td>
        <td>Added HTML5 web demos to ECS 2010, available as solution file.</td>
      </tr>
      <tr>
        <td>1.1.27 [L]</td>
        <td>2013-01-02</td>
        <td>General</td>
        <td>Rework of the REST API for the ECS Runtime.</td>
      </tr>
      <tr>
        <td>1.1.26 [L]</td>
        <td>2012-12-19</td>
        <td>General</td>
        <td>Updated ERPConnect library assemblies to the version 4.5.23.2.</td>
      </tr>
      <tr>
        <td>1.1.25 [L]</td>
        <td>2012-12-12</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in ECS designer regarding support for new SharePoint 2013 project type GUID; fixed problems with GAC installation and registry setup.</td>
      </tr>
      <tr>
        <td>1.1.24 [L]</td>
        <td>2012-12-07</td>
        <td>General</td>
        <td>Added a setup launcher tool for SharePoint 2010 and 2013.</td>
      </tr>
      <tr>
        <td>1.1.23 [L]</td>
        <td>2012-12-05</td>
        <td>General</td>
        <td>The ECS designers are now installing for the setup option client libraries.</td>
      </tr>
      <tr>
        <td>1.1.22 [L]</td>
        <td>2012-12-05</td>
        <td>BCSConnector</td>
        <td>Added Office BusinessApplication DLL to avoid the installation of Office 2013 in order to support BCS Connector for ECS 2013.</td>
      </tr>
      <tr>
        <td>1.1.21 [L]</td>
        <td>2012-12-04</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in connection dialog when loading settings from ECS.</td>
      </tr>
      <tr>
        <td>1.1.20 [L]</td>
        <td>2012-12-01</td>
        <td>ECSDesigner</td>
        <td>The ECS designers for Visual Studio 2010 and 2012 now are supporting the feature SSO ticket (pass-through).</td>
      </tr>
      <tr>
        <td>1.1.19 [L]</td>
        <td>2012-11-30</td>
        <td>General</td>
        <td>Added feature to support SSO ticket (pass-through) option for the SharePoint and desktop client libraries.</td>
      </tr>
      <tr>
        <td>1.1.18 [L]</td>
        <td>2012-11-24</td>
        <td>BCSConnector</td>
        <td>Added feature to allow to create copies of entities wihtin a model in the BCS Connector.</td>
      </tr>
      <tr>
        <td>1.1.17 [L]</td>
        <td>2012-11-23</td>
        <td>General</td>
        <td>ERPConnect Services now supports SharePoint 2013.</td>
      </tr>
      <tr>
        <td>1.1.16 [L]</td>
        <td>2012-11-10</td>
        <td>BCSConnector</td>
        <td>Added support for crawlable lists in the export to Visual Studio 2010/2012 feature.</td>
      </tr>
      <tr>
        <td>1.1.15 [L]</td>
        <td>2012-11-09</td>
        <td>BCSConnector</td>
        <td>Added feature to set field as title for SharePoint search result pages, updated crawlable feature and fixed bug in Save To File feature (Unicode).</td>
      </tr>
      <tr>
        <td>1.1.14 [L]</td>
        <td>2012-10-31</td>
        <td>General</td>
        <td>Fixed bug (resources) in WinRT client library of ECS.</td>
      </tr>
      <tr>
        <td>1.1.13 [L]</td>
        <td>2012-10-31</td>
        <td>BCSConnector</td>
        <td>Added the feature to define crawable entities in the BCS Connector.</td>
      </tr>
      <tr>
        <td>1.1.12 [L]</td>
        <td>2012-10-23</td>
        <td>General</td>
        <td>Added Windows Runtime (WinRT) client library for ERPConnect Services.</td>
      </tr>
      <tr>
        <td>1.1.11 [L]</td>
        <td>2012-10-18</td>
        <td>General</td>
        <td>Added the Secure Store Web Part as SharePoint solution file to the installation.</td>
      </tr>
      <tr>
        <td>1.1.10 [L]</td>
        <td>2012-10-11</td>
        <td>BCSConnector</td>
        <td>Added where clause for the table finder method in the BCS Connector.</td>
      </tr>
      <tr>
        <td>1.1.9 [L]</td>
        <td>2012-10-08</td>
        <td>General</td>
        <td>Fixed bug in table query execution.</td>
      </tr>
      <tr>
        <td>1.1.8 [L]</td>
        <td>2012-10-05</td>
        <td>General</td>
        <td>Added feature to allow username/password authentication for ECS service applications.</td>
      </tr>
      <tr>
        <td>1.1.7 [L]</td>
        <td>2012-10-01</td>
        <td>General</td>
        <td>Fixed bug with resources in base and client libaries.</td>
      </tr>
      <tr>
        <td>1.1.6 [L]</td>
        <td>2012-09-29</td>
        <td>BCSConnector</td>
        <td>Added to logic to display more clean error messages to BCS Connector.</td>
      </tr>
      <tr>
        <td>1.1.5 [L]</td>
        <td>2012-09-12</td>
        <td>BCSConnector</td>
        <td>Added feature to export model to Visual Studio 2012.</td>
      </tr>
      <tr>
        <td>1.1.4 [L]</td>
        <td>2012-08-30</td>
        <td>BCSConnector</td>
        <td>Added feature to support removing leading zeros for string values of formatted fields in BCS Connector, if the string value contains only digits.</td>
      </tr>
      <tr>
        <td>1.1.3 [L]</td>
        <td>2012-08-30</td>
        <td>ECSDesigner</td>
        <td>Changed logic in VSIX licensing display.</td>
      </tr>
      <tr>
        <td>1.1.2 [L]</td>
        <td>2012-08-30</td>
        <td>BCSConnector</td>
        <td>Fixed bug in output formatting regarding date and time fields that are part of the identifier fields.</td>
      </tr>
      <tr>
        <td>1.1.1 [L]</td>
        <td>2012-08-28</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in version history display of ECS Designer.</td>
      </tr>
      <tr>
        <td>1.1.0 [L]</td>
        <td>2012-08-28</td>
        <td>ECSDesigner</td>
        <td>ECS Runtime Designer now available for Visual Studio 2012</td>
      </tr>
      <tr>
        <td>1.0.49 [L]</td>
        <td>2012-08-25</td>
        <td>BCSConnector</td>
        <td>Added entity property output formating for string and decimal fields. This feature allows for instance to remove leading zeros and to format date and time fields.</td>
      </tr>
      <tr>
        <td>1.0.48 [L]</td>
        <td>2012-08-15</td>
        <td>BCSConnector</td>
        <td>Fixed bug for displaying decimals in external lists.</td>
      </tr>
      <tr>
        <td>1.0.47 [L]</td>
        <td>2012-08-07</td>
        <td>BCSConnector</td>
        <td>Fixed display for checkboxes in BCS Connector.</td>
      </tr>
      <tr>
        <td>1.0.46 [L]</td>
        <td>2012-07-18</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in code generation of the ECS designer when skipping certain structure fields. Changed logic in naming DSL object names.</td>
      </tr>
      <tr>
        <td>1.0.45 [L]</td>
        <td>2012-07-17</td>
        <td>ECSDesigner</td>
        <td>Fixed bug (2) in code generation of the ECS designer when selecting the option pass for tables.</td>
      </tr>
      <tr>
        <td>1.0.44 [L]</td>
        <td>2012-07-13</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in code generation of the ECS designer when selecting the option pass for tables.</td>
      </tr>
      <tr>
        <td>1.0.43 [L]</td>
        <td>2012-07-10</td>
        <td>BCSConnector</td>
        <td>Fixed bug in BCS Connector Visual Studio export feature reagrding the validation of namespaces.</td>
      </tr>
      <tr>
        <td>1.0.42 [L]</td>
        <td>2012-06-27</td>
        <td>General</td>
        <td>Fixed bug in encoding methods used by licensing and designer components.</td>
      </tr>
      <tr>
        <td>1.0.41 [L]</td>
        <td>2012-06-25</td>
        <td>XtractPPS</td>
        <td>Removed XtractPPS component from setup.</td>
      </tr>
      <tr>
        <td>1.0.40 [L]</td>
        <td>2012-06-22</td>
        <td>BCSConnector</td>
        <td>Added option to enter display names for default language for entiy fields.</td>
      </tr>
      <tr>
        <td>1.0.39 [L]</td>
        <td>2012-06-20</td>
        <td>BCSConnector</td>
        <td>Updated default folder usage for file dialogs. Recent used objects are now saved permanently.The search textbox got replaced with a combobox to display RUOs.</td>
      </tr>
      <tr>
        <td>1.0.38 [L]</td>
        <td>2012-06-19</td>
        <td>BCSConnector</td>
        <td>Updated logic to save and restore last used directory in file dialog.</td>
      </tr>
      <tr>
        <td>1.0.37 [L]</td>
        <td>2012-06-19</td>
        <td>ECSDesigner</td>
        <td>Updated designer logo and images.</td>
      </tr>
      <tr>
        <td>1.0.36 [L]</td>
        <td>2012-05-15</td>
        <td>General</td>
        <td>Updated ERPConnect35.dll to version 4.2.16.</td>
      </tr>
      <tr>
        <td>1.0.35 [L]</td>
        <td>2012-04-26</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in code gerneration (skip property feature).</td>
      </tr>
      <tr>
        <td>1.0.34 [L]</td>
        <td>2012-04-25</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in code gerneration with enum ERPType.</td>
      </tr>
      <tr>
        <td>1.0.33 [L]</td>
        <td>2012-04-12</td>
        <td>ECSDesigner</td>
        <td>Changed naming of labels and dialogs.</td>
      </tr>
      <tr>
        <td>1.0.32 [L]</td>
        <td>2012-04-12</td>
        <td>XtractPPS</td>
        <td>Changed public key tokens.</td>
      </tr>
      <tr>
        <td>1.0.31 [L]</td>
        <td>2012-04-10</td>
        <td>General</td>
        <td>Changed texts for proxy and SAP connection testing.</td>
      </tr>
      <tr>
        <td>1.0.30 [L]</td>
        <td>2012-04-02</td>
        <td>General</td>
        <td>Added SNC implementation for ECS runtime.</td>
      </tr>
      <tr>
        <td>1.0.29 [L]</td>
        <td>2012-03-13</td>
        <td>BCSConnector</td>
        <td>Changed images and logos for BCS Connector.</td>
      </tr>
      <tr>
        <td>1.0.28 [L]</td>
        <td>2012-03-12</td>
        <td>BCSConnector</td>
        <td>Added small UI changes and fixed some minor bugs.</td>
      </tr>
      <tr>
        <td>1.0.27 [L]</td>
        <td>2012-03-08</td>
        <td>BCSConnector</td>
        <td>Added link in external list to directly navigate to credentials input form.</td>
      </tr>
      <tr>
        <td>1.0.26 [L]</td>
        <td>2012-03-05</td>
        <td>BCSConnector</td>
        <td>Fixed bug in preview of Finder methods.</td>
      </tr>
      <tr>
        <td>1.0.25 [L]</td>
        <td>2012-03-01</td>
        <td>General</td>
        <td>Fixed bug in XtractQL regarding numeric table fields.</td>
      </tr>
      <tr>
        <td>1.0.24 [L]</td>
        <td>2012-03-01</td>
        <td>General</td>
        <td>Added new feature to product licensing (all server licensing).</td>
      </tr>
      <tr>
        <td>1.0.23 [L]</td>
        <td>2012-02-24</td>
        <td>BCSConnector</td>
        <td>Added option to use ECS license in BCSConnector exported BDC model (VS2010).</td>
      </tr>
      <tr>
        <td>1.0.22 [L]</td>
        <td>2012-02-23</td>
        <td>General</td>
        <td>Fixed bug with connection dialog (password) in XtractQLExplorer application.</td>
      </tr>
      <tr>
        <td>1.0.21 [L]</td>
        <td>2012-02-22</td>
        <td>BCSConnector</td>
        <td>Added the option to use import structures for functions in SpecificFinder methods.</td>
      </tr>
      <tr>
        <td>1.0.20 [L]</td>
        <td>2012-02-16</td>
        <td>BCSConnector</td>
        <td>Added feature to automatically add limit filter to function read data methods (finder) once they are created for the first time.</td>
      </tr>
      <tr>
        <td>1.0.19 [L]</td>
        <td>2012-02-16</td>
        <td>BCSConnector</td>
        <td>Fixed bug with delete operations and different input and parameter names.</td>
      </tr>
      <tr>
        <td>1.0.18 [L]</td>
        <td>2012-02-16</td>
        <td>BCSConnector</td>
        <td>Fixed bug in preview mode of the designer.</td>
      </tr>
      <tr>
        <td>1.0.17 [L]</td>
        <td>2012-02-15</td>
        <td>BCSConnector</td>
        <td>Added assembly Microsoft.SharePoint.BusinessData.Administration.Client.Intl.dll to setup.</td>
      </tr>
      <tr>
        <td>1.0.16 [L]</td>
        <td>2012-02-14</td>
        <td>BCSConnector</td>
        <td>Fixed bug in query for secure store credentials in runtime.</td>
      </tr>
      <tr>
        <td>1.0.15 [L]</td>
        <td>2012-02-14</td>
        <td>BCSConnector</td>
        <td>Added comparison filter for functions, recent file list, string comparison filter, new exception messages in save dialog and an updated external list dialog.</td>
      </tr>
      <tr>
        <td>1.0.14 [L]</td>
        <td>2012-02-09</td>
        <td>ECSDesigner</td>
        <td>Fixed bug in XtractQL quote handling and the execution of parameterless XQL queries.</td>
      </tr>
      <tr>
        <td>1.0.13 [L]</td>
        <td>2012-02-07</td>
        <td>BCSConnector</td>
        <td>Added the option to filter based on string data types for comparison filters of table objects.</td>
      </tr>
      <tr>
        <td>1.0.12 [L]</td>
        <td>2012-02-07</td>
        <td>BCSConnector</td>
        <td>Added the option to logon into the SharePoint server with the current Windows user, without entering user credentials.</td>
      </tr>
      <tr>
        <td>1.0.11 [L]</td>
        <td>2012-02-04</td>
        <td>BCSConnector</td>
        <td>Added protocol tab to error dialog to display more detail information about an error occurring during the process of saving a model.</td>
      </tr>
      <tr>
        <td>1.0.10 [L]</td>
        <td>2012-02-02</td>
        <td>BCSConnector</td>
        <td>Fixed bug in comparison filter type handling for table entites.</td>
      </tr>
      <tr>
        <td>1.0.9 [L]</td>
        <td>2012-02-01</td>
        <td>BCSConnector</td>
        <td>Added comparison filter types to entites of type Table.</td>
      </tr>
      <tr>
        <td>1.0.8 [L]</td>
        <td>2012-01-26</td>
        <td>BCSConnector</td>
        <td>Added the option to preview the finder operations for tables and functions.</td>
      </tr>
      <tr>
        <td>1.0.7 [L]</td>
        <td>2012-01-20</td>
        <td>BCSConnector</td>
        <td>Added the option to localise display names for model, LOB system, LOB instance, entity, emthods and filters.</td>
      </tr>
      <tr>
        <td>1.0.6 [L]</td>
        <td>2012-01-19</td>
        <td>BCSConnector</td>
        <td>Added the option to localise display names for the entity properties.</td>
      </tr>
      <tr>
        <td>1.0.5 [L]</td>
        <td>2012-01-12</td>
        <td>BCSConnector</td>
        <td>Added the option to open the model from and save it to a file.</td>
      </tr>
      <tr>
        <td>1.0.4 [L]</td>
        <td>2012-01-09</td>
        <td>General</td>
        <td>Added ERPConnect Services management links into central administration overview page as well as a license manager tool.</td>
      </tr>
      <tr>
        <td>1.0.3 [L]</td>
        <td>2011-12-16</td>
        <td>General</td>
        <td>Added product version history dialogs to BCSCOnnector and ECS-Designer</td>
      </tr>
      <tr>
        <td>1.0.2 [L]</td>
        <td>2011-12-15</td>
        <td>General</td>
        <td>Added product version history page to ERPConnect Services administration</td>
      </tr>
      <tr>
        <td>1.0.1 [L]</td>
        <td>2011-12-15</td>
        <td>General</td>
        <td>Changed assembly versioning to 1.x (from 14.x) for ERPConnect Services, BCSConnector and XtractPPS</td>
      </tr>
      <tr>
        <td>1.0.0 [L]</td>
        <td>2011-11-29</td>
        <td>General</td>
        <td>Initial Version</td>
      </tr>
    </tbody>
  </table>
</html>