<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr>
        <td>0.0.10 [L]</td>
        <td>2019-01-07</td>
        <td>Table Join</td>
        <td>Added structure files for Z_THEO_READ_TABLE.</td>
      </tr>
      <tr>
        <td>0.0.9 [M]</td>
        <td>2018-12-21</td>
        <td>BW Cube</td>
        <td>Fixed an error that caused cubes not to be loaded after selection.</td>
      </tr>
      <tr>
        <td>0.0.8 [M]</td>
        <td>2018-12-13</td>
        <td>General</td>
        <td>Improved result column size calculation for cube and table extractions. Added automatic detection of unit of measurement of cube measures.</td>
      </tr>
      <tr>
        <td>0.0.7 [L]</td>
        <td>2018-12-07</td>
        <td>General</td>
        <td>Fixed output metadata of tools to improve compatibility with other tools.</td>
      </tr>
      <tr>
        <td>0.0.6 [L]</td>
        <td>2018-12-07</td>
        <td>Table Join</td>
        <td>Improvements and fixes in Table Join UI, performance and stability.</td>
      </tr>
      <tr>
        <td>0.0.5 [L]</td>
        <td>2018-11-30</td>
        <td>Table Join</td>
        <td>Added the custom function module for full table join support.</td>
      </tr>
      <tr>
        <td>0.0.4 [L]</td>
        <td>2018-11-28</td>
        <td>General</td>
        <td>Compatibility fix for Alteryx 11.7</td>
      </tr>
      <tr>
        <td>0.0.3 [M]</td>
        <td>2018-11-14</td>
        <td>Table Join</td>
        <td>Using table name for tool instead of RFC function, fix for ABAP strings vs. NET</td>
      </tr>
      <tr>
        <td>0.0.2 [L]</td>
        <td>2018-10-19</td>
        <td>General</td>
        <td>UI update.</td>
      </tr>
      <tr>
        <td>0.0.1 [L]</td>
        <td>2018-10-02</td>
        <td>General</td>
        <td>Initial Release</td>
      </tr>
    </tbody>
  </table>
</html>