<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr>
        <td>0.0.2 [L]</td>
        <td>2018-10-19</td>
        <td>General</td>
        <td>UI update.</td>
      </tr>
      <tr>
        <td>0.0.1 [L]</td>
        <td>2018-10-02</td>
        <td>General</td>
        <td>Initial Release</td>
      </tr>
    </tbody>
  </table>
</html>