<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.8.0.html">1.8.0 [M]</a></td><td>2020-01-28</td><td>BAPI</td><td>Input and output improvements(<a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.8.0.html">Release note</a>)</td></tr>
      <tr>
        <td>1.7.9 [L]</td>
        <td>2020-01-22</td>
        <td>Setup</td>
        <td>Improvement for uninstalling script</td>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.7.8.html">1.7.8 [M]</a></td><td>2019-12-03</td><td>ODP</td><td>Several fixes (Bugs introduced in 1.7.6.1)(<a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.7.8.html">Release note</a>)</td></tr>
      <tr>
        <td>1.7.7 [L]</td>
        <td>2019-11-22</td>
        <td>General</td>
        <td>Removed unnecessary call to RFC_PING during connection test</td>
      </tr>
      <tr>
        <td>1.7.6 [L]</td>
        <td>2019-11-06</td>
        <td>Setup</td>
        <td>Improvements for the uninstalling script</td>
      </tr>
      <tr>
        <td>1.7.5 [L]</td>
        <td>2019-11-04</td>
        <td>ODP</td>
        <td>Selections can now be parameterized </td>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.7.4.html">1.7.4 [M]</a></td><td>2019-10-23</td><td>General</td><td>Fixed the preview GUI. Removed the broken alias functionality from table tool(<a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.7.4.html">Release note</a>)</td></tr>
      <tr>
        <td>1.7.3 [L]</td>
        <td>2019-10-15</td>
        <td>BAPI</td>
        <td>The tool can now accept incoming connections which can be mapped to table parameters (beta)</td>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.7.2.html">1.7.2 [L]</a></td><td>2019-09-27</td><td>BW Cube</td><td>Improvements to cube dimension property naming.(<a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.7.2.html">Release note</a>)</td></tr>
      <tr>
        <td>1.7.1 [L]</td>
        <td>2019-09-24</td>
        <td>General</td>
        <td>Updated TheobaldExtractors to version 1.10.4</td>
      </tr>
      <tr>
        <td>1.7.0 [L]</td>
        <td>2019-09-20</td>
        <td>BAPI</td>
        <td>Added BAPI tool (beta)</td>
      </tr>
      <tr>
        <td>1.6.0 [L]</td>
        <td>2019-09-11</td>
        <td>Hierarchy</td>
        <td>Added hierarchy tool (beta).</td>
      </tr>
      <tr>
        <td>1.5.5 [M]</td>
        <td>2019-09-03</td>
        <td>Table</td>
        <td>WHERE clause can now be dynamically updated using Alteryx Actions</td>
      </tr>
      <tr>
        <td>1.5.4 [L]</td>
        <td>2019-09-02</td>
        <td>BW Cube</td>
        <td>Fix for cube properties with same names on different dimensions.</td>
      </tr>
      <tr>
        <td>1.5.3 [L]</td>
        <td>2019-08-30</td>
        <td>BW Cube</td>
        <td>Fix for selecting cube properties.</td>
      </tr>
      <tr>
        <td>1.5.2 [M]</td>
        <td>2019-08-20</td>
        <td>General</td>
        <td>Version history can now be viewed on the About dialog</td>
      </tr>
      <tr>
        <td>1.5.1 [M]</td>
        <td>2019-08-14</td>
        <td>BW Cube</td>
        <td>Various fixes for variables</td>
      </tr>
      <tr>
        <td>1.5.0 [M]</td>
        <td>2019-08-07</td>
        <td>General</td>
        <td>Added support for INT8</td>
      </tr>
      <tr>
        <td>1.4.3 [L]</td>
        <td>2019-08-05</td>
        <td>General</td>
        <td>GUI no longer prevents the saving of incomplete configurations</td>
      </tr>
      <tr>
        <td>1.4.2 [M]</td>
        <td>2019-07-23</td>
        <td>General</td>
        <td>Updated NW RFC to 7.50 PL 4</td>
      </tr>
      <tr>
        <td>1.4.0 [L]</td>
        <td>2019-07-12</td>
        <td>BW Cube</td>
        <td>Added cube filters.</td>
      </tr>
      <tr>
        <td>1.3.4 [L]</td>
        <td>2019-07-10</td>
        <td>General</td>
        <td>Improved license check.</td>
      </tr>
      <tr>
        <td>1.3.3 [M]</td>
        <td>2019-07-03</td>
        <td>ODP</td>
        <td>Fixed a bug that would reset the segments to extract when editing an existing extraction</td>
      </tr>
      <tr>
        <td>1.3.2 [M]</td>
        <td>2019-07-01</td>
        <td>Designer</td>
        <td>Textbox for connection name is read-only now for existing connections</td>
      </tr>
      <tr>
        <td>1.3.1 [L]</td>
        <td>2019-07-01</td>
        <td>Table</td>
        <td>Fix for error messages during preview</td>
      </tr>
      <tr>
        <td>1.3.0 [M]</td>
        <td>2019-07-01</td>
        <td>ODP</td>
        <td>General Availibility (end of beta)</td>
      </tr>
      <tr>
        <td>1.2.2 [M]</td>
        <td>2019-06-17</td>
        <td>Designer</td>
        <td>Fixes and improvements for error handling</td>
      </tr>
      <tr>
        <td>1.2.1 [M]</td>
        <td>2019-05-20</td>
        <td>General</td>
        <td>Fixes &amp; improvements for SAP connections (ticket issuer, timeouts)</td>
      </tr>
      <tr>
        <td>1.2.0 [M]</td>
        <td>2019-05-20</td>
        <td>General</td>
        <td>Improved logging (timestamps, more details)</td>
      </tr>
      <tr>
        <td>1.1.2 [L]</td>
        <td>2019-05-20</td>
        <td>Setup</td>
        <td>Fix for Alteryx installation folder detection</td>
      </tr>
      <tr>
        <td>1.1.1 [L]</td>
        <td>2019-05-08</td>
        <td>General</td>
        <td>Using MSBuild 16</td>
      </tr>
      <tr>
        <td>1.1.0 [M]</td>
        <td>2019-05-08</td>
        <td>General</td>
        <td>Updated to .NET Framework 4.7.1</td>
      </tr>
      <tr>
        <td>1.0.2 [M]</td>
        <td>2019-05-06</td>
        <td>General</td>
        <td>Fix for NetWeaver RFC</td>
      </tr>
      <tr>
        <td>1.0.1 [M]</td>
        <td>2019-04-23</td>
        <td>Table</td>
        <td>Fix for function module dropdown not showing available modules</td>
      </tr>
      <tr><td><a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.0.0.html">1.0.0 [M]</a></td><td>2019-04-10</td><td>General</td><td>General Availibility (end of beta)(<a class="ReleaseNote" href="https://kb.theobald-software.com/release-notes/XtractForAlteryx-1.0.0.html">Release note</a>)</td></tr>
      <tr>
        <td>0.0.14 [L]</td>
        <td>2019-03-21</td>
        <td>Designer</td>
        <td>Fixed license check.</td>
      </tr>
      <tr>
        <td>0.0.13 [L]</td>
        <td>2019-01-29</td>
        <td>BW Cube</td>
        <td>Fixed an error in cube filter serialization.</td>
      </tr>
      <tr>
        <td>0.0.12 [L]</td>
        <td>2019-01-29</td>
        <td>General</td>
        <td>Fixed an issue that may have caused errors when using snc authentication.</td>
      </tr>
      <tr>
        <td>0.0.11 [M]</td>
        <td>2019-01-18</td>
        <td>General</td>
        <td>Fixed a bug that may have caused license errors with valid licenses.</td>
      </tr>
      <tr>
        <td>0.0.10 [L]</td>
        <td>2019-01-07</td>
        <td>Table</td>
        <td>Added structure files for Z_THEO_READ_TABLE.</td>
      </tr>
      <tr>
        <td>0.0.9 [M]</td>
        <td>2018-12-21</td>
        <td>BW Cube</td>
        <td>Fixed an error that caused cubes not to be loaded after selection.</td>
      </tr>
      <tr>
        <td>0.0.8 [M]</td>
        <td>2018-12-13</td>
        <td>General</td>
        <td>Improved result column size calculation for cube and table extractions. Added automatic detection of unit of measurement of cube measures.</td>
      </tr>
      <tr>
        <td>0.0.7 [L]</td>
        <td>2018-12-07</td>
        <td>General</td>
        <td>Fixed output metadata of tools to improve compatibility with other tools.</td>
      </tr>
      <tr>
        <td>0.0.6 [L]</td>
        <td>2018-12-07</td>
        <td>Table</td>
        <td>Improvements and fixes in Table Join UI, performance and stability.</td>
      </tr>
      <tr>
        <td>0.0.5 [L]</td>
        <td>2018-11-30</td>
        <td>Table</td>
        <td>Added the custom function module for full table join support.</td>
      </tr>
      <tr>
        <td>0.0.4 [L]</td>
        <td>2018-11-28</td>
        <td>General</td>
        <td>Compatibility fix for Alteryx 11.7</td>
      </tr>
      <tr>
        <td>0.0.3 [M]</td>
        <td>2018-11-14</td>
        <td>Table</td>
        <td>Using table name for tool instead of RFC function, fix for ABAP strings vs. NET</td>
      </tr>
      <tr>
        <td>0.0.2 [L]</td>
        <td>2018-10-19</td>
        <td>General</td>
        <td>UI update.</td>
      </tr>
      <tr>
        <td>0.0.1 [L]</td>
        <td>2018-10-02</td>
        <td>General</td>
        <td>Initial Release</td>
      </tr>
    </tbody>
  </table>
</html>