<html>
  <table border="1" cellspacing="0" cellpadding="3">
    <tbody>
      <tr>
        <th class="col_ver">Version</th>
        <th class="col_date">Date</th>
        <th class="col_comp">Component</th>
        <th class="col_desc">Description</th>
      </tr>
      <tr>
        <td>8.0.4 [L]</td>
        <td>2018-10-11</td>
        <td>General</td>
        <td>Fix for transport request with certain SAP releases</td>
      </tr>
      <tr>
        <td>8.0.3 [L]</td>
        <td>2018-10-02</td>
        <td>General</td>
        <td>Added support for RFC_READ_TABLE2 function modules</td>
      </tr>
      <tr>
        <td>8.0.2 [L]</td>
        <td>2018-08-30</td>
        <td>General</td>
        <td>Updated NWRFC libraries to 720 patchlevel 49</td>
      </tr>
      <tr>
        <td>8.0.1 [L]</td>
        <td>2018-08-10</td>
        <td>Setup</td>
        <td>InstallXtractRS.exe - fix for low resolutions / large console fonts</td>
      </tr>
      <tr>
        <td>8.0.0 [M]</td>
        <td>2018-08-03</td>
        <td>General</td>
        <td>Added support for Power BI Report Server v15 (March 2018)</td>
      </tr>
      <tr>
        <td>7.1.0 [M]</td>
        <td>2018-07-24</td>
        <td>General</td>
        <td>Added support for non-Unicode multibyte systems (Asian characters)</td>
      </tr>
      <tr>
        <td>7.0.10 [L]</td>
        <td>2018-04-17</td>
        <td>General</td>
        <td>Updated EULA</td>
      </tr>
      <tr>
        <td>7.0.9 [L]</td>
        <td>2018-04-12</td>
        <td>General</td>
        <td>Added registry files to fix randomly disabled edit button in Visual Studio</td>
      </tr>
      <tr>
        <td>7.0.8 [L]</td>
        <td>2018-04-12</td>
        <td>General</td>
        <td>Fix for missing data source in Report Manager (web) SQL Server 2014</td>
      </tr>
      <tr>
        <td>7.0.7 [M]</td>
        <td>2018-04-12</td>
        <td>Setup</td>
        <td>Fix for Visual Studio installer</td>
      </tr>
      <tr>
        <td>7.0.6 [L]</td>
        <td>2018-01-16</td>
        <td>General</td>
        <td>Fix for missing .NET 3.5</td>
      </tr>
      <tr>
        <td>7.0.5 [M]</td>
        <td>2018-01-16</td>
        <td>Setup</td>
        <td>Another fix for detecting VS2017 instances</td>
      </tr>
      <tr>
        <td>7.0.4 [M]</td>
        <td>2018-01-15</td>
        <td>Setup</td>
        <td>Fix for VS2017</td>
      </tr>
      <tr>
        <td>7.0.3 [L]</td>
        <td>2017-11-30</td>
        <td>General</td>
        <td>Updated transport for Z_XTRACT_IS_TABLE_JOIN</td>
      </tr>
      <tr>
        <td>7.0.2 [M]</td>
        <td>2017-11-21</td>
        <td>General</td>
        <td>Fix for .NET trust level (SQL Server)</td>
      </tr>
      <tr>
        <td>7.0.1 [M]</td>
        <td>2017-11-20</td>
        <td>General</td>
        <td>Fix for SQL Server 2016</td>
      </tr>
      <tr>
        <td>7.0.0 [M]</td>
        <td>2017-11-20</td>
        <td>General</td>
        <td>Added support for SQL Server 2017 &amp; VS2017</td>
      </tr>
      <tr>
        <td>6.1.2 [M]</td>
        <td>2017-11-20</td>
        <td>Setup</td>
        <td>Fix for bin directory path (SQL Server)</td>
      </tr>
      <tr>
        <td>6.1.1 [L]</td>
        <td>2017-11-20</td>
        <td>General</td>
        <td>Adjustments in Z_XTRACT_IS_TABLE_JOIN function.</td>
      </tr>
      <tr>
        <td>6.1.0 [M]</td>
        <td>2017-11-03</td>
        <td>General</td>
        <td>Adjustments for Xtract Kernel 3.0</td>
      </tr>
      <tr>
        <td>6.0.3 [M]</td>
        <td>2017-10-31</td>
        <td>General</td>
        <td>Improved error messages</td>
      </tr>
      <tr>
        <td>6.0.2 [L]</td>
        <td>2017-10-31</td>
        <td>Setup</td>
        <td>Fix for uninstaller</td>
      </tr>
      <tr>
        <td>6.0.1 [M]</td>
        <td>2017-10-30</td>
        <td>Setup</td>
        <td>Fixes &amp; improvements for installer</td>
      </tr>
      <tr>
        <td>6.0.0 [M]</td>
        <td>2017-10-30</td>
        <td>General</td>
        <td>Added support for Power BI Report Server</td>
      </tr>
      <tr>
        <td>5.0.9 [L]</td>
        <td>2017-08-11</td>
        <td>General</td>
        <td>License: Added support for FQDN</td>
      </tr>
      <tr>
        <td>5.0.8 [L]</td>
        <td>2017-08-04</td>
        <td>General</td>
        <td>Updated ABAP code &amp; transports</td>
      </tr>
      <tr>
        <td>5.0.7 [L]</td>
        <td>2017-08-03</td>
        <td>General</td>
        <td>License: Added support for server names longer than 15 bytes</td>
      </tr>
      <tr>
        <td>5.0.6 [M]</td>
        <td>2017-07-12</td>
        <td>General</td>
        <td>Fix for SSRS 2016</td>
      </tr>
      <tr>
        <td>5.0.5 [L]</td>
        <td>2017-07-05</td>
        <td>General</td>
        <td>Fix for server license check in clusters</td>
      </tr>
      <tr>
        <td>5.0.4 [L]</td>
        <td>2017-07-04</td>
        <td>General</td>
        <td>Improved error message for license server mismatch</td>
      </tr>
      <tr>
        <td>5.0.3 [L]</td>
        <td>2017-04-18</td>
        <td>General</td>
        <td>Fixes for TableJoin data transfer</td>
      </tr>
      <tr>
        <td>5.0.2 [M]</td>
        <td>2017-03-29</td>
        <td>Setup</td>
        <td>Fix for installing assemblies to GAC</td>
      </tr>
      <tr>
        <td>5.0.1 [L]</td>
        <td>2017-03-21</td>
        <td>General</td>
        <td>Updated build tools to MSBuild 15.0</td>
      </tr>
      <tr>
        <td>5.0.0 [M]</td>
        <td>2017-03-21</td>
        <td>General</td>
        <td>Removed support for SSRS2005</td>
      </tr>
      <tr>
        <td>4.2.0 [L]</td>
        <td>2017-01-11</td>
        <td>General</td>
        <td>Updated licensing to support json format.</td>
      </tr>
      <tr>
        <td>4.1.3 [M]</td>
        <td>2016-10-18</td>
        <td>Setup</td>
        <td>Updated transport request thtrans.zip</td>
      </tr>
      <tr>
        <td>4.1.2 [L]</td>
        <td>2016-10-18</td>
        <td>Setup</td>
        <td>SSRS2016 installer now checks for MSSQLSERVER instance instead of SQL2016</td>
      </tr>
      <tr>
        <td>4.1.1 [M]</td>
        <td>2016-09-28</td>
        <td>BW Cube</td>
        <td>Fix for "expected 0 columns"</td>
      </tr>
      <tr>
        <td>4.1.0 [L]</td>
        <td>2016-08-29</td>
        <td>General</td>
        <td>Added support for SSO in SSRS SharePoint 2013 integrated mode</td>
      </tr>
      <tr>
        <td>4.0.0 [M]</td>
        <td>2016-08-29</td>
        <td>General</td>
        <td>Added support for SSRS 2016</td>
      </tr>
      <tr>
        <td>3.2.0 [L]</td>
        <td>2016-08-15</td>
        <td>General</td>
        <td>Added tool to cleanup the Gac</td>
      </tr>
      <tr>
        <td>3.1.8 [L]</td>
        <td>2016-05-09</td>
        <td>General</td>
        <td>Updated Join dialog logic</td>
      </tr>
      <tr>
        <td>3.1.7 [L]</td>
        <td>2016-05-06</td>
        <td>General</td>
        <td>Replaced support client executable with download link</td>
      </tr>
      <tr>
        <td>3.1.6 [L]</td>
        <td>2016-04-29</td>
        <td>Report</td>
        <td>Correction for losing variant and other values in the designer under certain circumstances</td>
      </tr>
      <tr>
        <td>3.1.5 [L]</td>
        <td>2016-03-05</td>
        <td>General</td>
        <td>Fix for preview function at table extraction</td>
      </tr>
      <tr>
        <td>3.1.4 [L]</td>
        <td>2016-02-24</td>
        <td>BW Cube</td>
        <td>Fix for missing report parameters when variable type is Multiple Single</td>
      </tr>
      <tr>
        <td>3.1.3 [L]</td>
        <td>2015-09-11</td>
        <td>BW Cube</td>
        <td>Bugfix: Resultset was empty under certain circumstances when using BW queries with structures.</td>
      </tr>
      <tr>
        <td>3.1.2 [L]</td>
        <td>2015-09-07</td>
        <td>Report</td>
        <td>Fixed bug in the search of reports</td>
      </tr>
      <tr>
        <td>3.1.1 [L]</td>
        <td>2015-07-28</td>
        <td>General</td>
        <td>Updated support client to 10.0.43879.0 and added shortcut</td>
      </tr>
      <tr>
        <td>3.0.1 [L]</td>
        <td>2014-08-05</td>
        <td>General</td>
        <td>Updated address in product info</td>
      </tr>
      <tr>
        <td>3.0.0 [L]</td>
        <td>2014-04-19</td>
        <td>General</td>
        <td>Released for SQL Server Reporting Services 2014 (known issue: disabled Edit button when composing the Connection String)</td>
      </tr>
      <tr>
        <td>2.6.7 [L]</td>
        <td>2013-08-20</td>
        <td>General</td>
        <td>Correction for logon through Load Balancing</td>
      </tr>
      <tr>
        <td>2.6.6 [L]</td>
        <td>2013-07-23</td>
        <td>Report</td>
        <td>Fix when using Report component in Batch mode (Job timeout error message without reason)</td>
      </tr>
      <tr>
        <td>2.6.5 [L]</td>
        <td>2013-06-18</td>
        <td>Report</td>
        <td>Fix for correct handling of empty parameters</td>
      </tr>
      <tr>
        <td>2.6.4 [L]</td>
        <td>2013-06-04</td>
        <td>Report</td>
        <td>Report variants can now be set through variables</td>
      </tr>
      <tr>
        <td>2.6.3 [L]</td>
        <td>2013-04-25</td>
        <td>Setup</td>
        <td>Beta release for Visual Studio 2012</td>
      </tr>
      <tr>
        <td>2.6.2 [L]</td>
        <td>2013-03-16</td>
        <td>Report</td>
        <td>Correction for using * in the report's Select Options</td>
      </tr>
      <tr>
        <td>2.6.1 [L]</td>
        <td>2013-03-07</td>
        <td>General</td>
        <td>Fix for Skip Top/Bottom Rows (was always set to 0)</td>
      </tr>
      <tr>
        <td>2.6.0 [L]</td>
        <td>2013-02-17</td>
        <td>General</td>
        <td>Report as additional extraction type added</td>
      </tr>
      <tr>
        <td>2.5.3 [L]</td>
        <td>2013-01-18</td>
        <td>General</td>
        <td>Bugfix for connection problems in Turkish systems</td>
      </tr>
      <tr>
        <td>2.5.2 [L]</td>
        <td>2012-12-26</td>
        <td>BW Cube</td>
        <td>Performance improvement when doing a preview with MDX component</td>
      </tr>
      <tr>
        <td>2.5.1 [L]</td>
        <td>2012-12-11</td>
        <td>BW Cube</td>
        <td>Correction for variable handling with custom MDX statements</td>
      </tr>
      <tr>
        <td>2.5.0 [L]</td>
        <td>2012-12-07</td>
        <td>BW Cube</td>
        <td>MDX component added for direct SAP BW MDX execution</td>
      </tr>
      <tr>
        <td>2.4.2 [L]</td>
        <td>2012-11-19</td>
        <td>General</td>
        <td>New TeamViewer version for remote support</td>
      </tr>
      <tr>
        <td>2.4.1 [L]</td>
        <td>2012-11-02</td>
        <td>BW Cube</td>
        <td>Fix for BWCube component under certain BW patches (unknown dimension.... message)</td>
      </tr>
      <tr>
        <td>2.4.0 [L]</td>
        <td>2012-10-28</td>
        <td>BW Cube</td>
        <td>Refresh feature added (when the query has changed in BW this function can be used to reflect the changes in SSRS)</td>
      </tr>
      <tr>
        <td>2.3.2 [L]</td>
        <td>2012-08-02</td>
        <td>BW Cube</td>
        <td>Bug fix for using multiple values with BW query variables</td>
      </tr>
      <tr>
        <td>2.3.1 [L]</td>
        <td>2012-06-28</td>
        <td>Setup</td>
        <td>Bug fix for using Xtract RS with Reporting Services 2012 and SharePoint 2010. The source was not displayd in Data Source combo box within Report Server.</td>
      </tr>
      <tr>
        <td>2.3.0 [M]</td>
        <td>2012-06-17</td>
        <td>BW Cube</td>
        <td>New feature 'Use Caption as Column Name' added to BW CUbe</td>
      </tr>
      <tr>
        <td>2.2.3 [L]</td>
        <td>2012-01-23</td>
        <td>General</td>
        <td>Query compoment is now supporting multi-value parameters when used together with complex select options</td>
      </tr>
      <tr>
        <td>2.2.2 [L]</td>
        <td>2012-01-12</td>
        <td>General</td>
        <td>Improvement for multi-value parameters that are passed to BAPI tables</td>
      </tr>
      <tr>
        <td>2.2.1 [L]</td>
        <td>2011-12-17</td>
        <td>General</td>
        <td>Release for usage under SQL Server 2012 RC0</td>
      </tr>
      <tr>
        <td>2.2.0 [M]</td>
        <td>2011-10-07</td>
        <td>General</td>
        <td>SNC via NTLM or Kerberos is supported now to build SSO scenarios</td>
      </tr>
      <tr>
        <td>2.1.0 [M]</td>
        <td>2011-10-03</td>
        <td>General</td>
        <td>Table-like import or export parameters  are support by the BAPI component to be used as dataset</td>
      </tr>
      <tr>
        <td>2.0.0 [M]</td>
        <td>2011-07-01</td>
        <td>General</td>
        <td>Support for SQL Server Denali CTP 3</td>
      </tr>
      <tr>
        <td>1.1.3 [M]</td>
        <td>2011-04-02</td>
        <td>General</td>
        <td>Bugfix for grid on table source dialog</td>
      </tr>
      <tr>
        <td>1.1.2 [M]</td>
        <td>2010-08-31</td>
        <td>General</td>
        <td>Bugfix for variables in static BAPI tables</td>
      </tr>
      <tr>
        <td>1.1.1 [M]</td>
        <td>2010-07-23</td>
        <td>General</td>
        <td>Bugfix for logging directory</td>
      </tr>
      <tr>
        <td>1.1.0 [M]</td>
        <td>2009-08-06</td>
        <td>General</td>
        <td>Value help for BW Query variables and support for MultiSingle variables implemented</td>
      </tr>
      <tr>
        <td>1.0.27 [M]</td>
        <td>2009-06-02</td>
        <td>General</td>
        <td>Crash during installation on Vista 64 when no VS 2008 is installed</td>
      </tr>
      <tr>
        <td>1.0.26 [M]</td>
        <td>2009-01-30</td>
        <td>General</td>
        <td>Query source does not end up in exception anymore when 0 rows are selected</td>
      </tr>
      <tr>
        <td>1.0.25 [M]</td>
        <td>2009-01-26</td>
        <td>General</td>
        <td>Variable edit dialog appears when previewing a data set with variables</td>
      </tr>
      <tr>
        <td>1.0.24 [M]</td>
        <td>2009-01-09</td>
        <td>General</td>
        <td>Fix for unit-related problems in SAP Queries</td>
      </tr>
      <tr>
        <td>1.0.23 [M]</td>
        <td>2009-01-01</td>
        <td>General</td>
        <td>Beginning of new Version History</td>
      </tr>
    </tbody>
  </table>
</html>