---
layout: base
---

<div class="row row-page-padding">
    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-xl-offset-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        {% include _tech/header.html %}

        <div class="container-content" role="main">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <article>
                        {{ content }}
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>