---
layout: page
---

{{ content }}
<br>

<div class="row aligned-row" role="main">
    {% assign collection = site.collections | where:"label", page.collection %}
    {% assign filtered_docs = collection[0].docs | sort: 'weight' %}

    <div class="col-md-12 col-sm-12">
        {% for doc in filtered_docs %}
            {% unless doc.relative_path contains '/index' %}
                <div class="col-md-6 col-sm-6">
                    <div class="double-listing">
                        <div class="double-listing-item">
                            <a class="double-listing-link" href="{{doc.url}}">{{doc.title}}</a>
                        </div>
                    </div>
                </div>
            {% endunless %}
        {% endfor %}
    </div>
</div>