---
layout: page
---

<div class="row" role="main">
    {% assign collection = site.collections | where:"label", page.collection %}
    {% assign filtered_docs = collection[0].docs | group_by:'category' | sort:'category' %}
    {% for category in filtered_docs %}
        <div class="col-md-6 col-sm-6">
            <div class="double-listing {% cycle 'double-listing-even', 'double-listing-uneven' %}">
                {% if category.name == '' %}
                    <h2>{{ site.content.other-category }}</h2>
                {% else %}
                    <h2>{{ category.name }}</h2>
                {% endif %}

                <hr class="length">

                {% for page in category.items %}
                    {% unless page.relative_path contains '/index' %}
                        <dd><a href="{{ page.url }}">{{ page.title }}</a></dd>
                    {% endunless %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>