<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}"><img src="{{ site.url }}{{ site.logo }}"/></a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="main-navbar" style="">
      <div class="row row-eq-height">
        {% if page.title != 'Homepage' %}
          {% if page.title != 'Search' %}
          {% comment %} this shows the search bar on all pages except Homepage and Search {% endcomment %}
          <div class="col-md-6 col-sm-6 col-xs-6">
            <form class="homepage-search-form" action="{{ site.url }}/{{ current_lang }}/search.html" style="display: table;height: 100%;width: 100%;padding-right:5px;">
              <div class="ais-search-box" style="display: table-cell;text-align: center;vertical-align: middle;">
                <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="Search..." role="textbox" spellcheck="false" type="text" value="" name="fromHomepage" class="ais-search-box--input" style="height: auto;padding: 5px 10px 5px 35px;">
                <span class="ais-search-box--magnifier-wrapper">
                  <div class="ais-search-box--magnifier">
                    <svg xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-13" viewBox="0 0 40 40" width="100%" height="100%">
                      <path d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z" fill-rule="evenodd">
                      </path>
                    </svg>
                  </div>
                </span>
              </div>
            </form>
          </div>
          {% endif %}

        {% comment %} the return-to-home link appears on all pages except Homepage {% endcomment %}
          <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="nav nav-stacked nav-stacked-left">
              <li>
                <a href="{{ site.url }}">
                  {{ site.content.sidemenu-return-to-home }}
                </a>
              </li>
              {% unless page.path contains 'index.md' or page.path contains 'news.html' or page.path contains '404.html' or page.path contains 'search.html' %}
                {% if page.is_post != true %}
                  {% comment %} the return-to-section link appears on all pages except Homepage, Search, 404 and all overview pages {% endcomment %}
                  {% assign collection = site.collections | where:"label",page.collection %}
                  {% assign collection_doc = collection[0].docs | where_exp:"doc", "doc.relative_path contains 'index'" %}

                  <li>
                    <a href="{{ site.url }}{{ collection_doc[0].url }}">
                      {{ site.content.sidemenu-return-to-section }}<strong>{{ collection[0].name }}</strong>
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ site.url }}/news">
                      {{ site.content.sidemenu-return-to-section }}<strong> News</strong>
                    </a>
                  </li>
                {% endif %}
              {% endunless %}
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 nav-hidden-custom-size">
        {% else %}
          <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-4 col-sm-offset-4">
        {% endif %}
            <ul class="nav nav-stacked {% if page.title != 'Homepage' %}nav-stacked-right{% else %}nav-stacked-homepage{% endif %}">
              {% for entry in site.content.navbar-links %}
                {% if entry.title %}
                  <li>
                    <a href="{{entry.url}}">{{ entry.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
</nav>