{% assign collection = site.collections | where:"label",page.collection %}
{% assign collection_doc = collection[0].docs | where_exp:"doc", "doc.relative_path contains 'index'" %}

<div class="side-menu">
	<ul class="side-menu-list" id="accordion">
		<li class="side-menu-list-item side-menu-background-primary">
			<a href="{{ site.url }}" class="side-menu-list-item-link">
				{{ site.content.sidemenu-return-to-home }}
			</a>
		</li>
		{% assign additional-search-class = "side-menu-background-secondary" %}
		{% unless page.path contains 'index.md' %}
			{% unless page.path contains 'news.html' %}
				{% if page.is_post != true %}
					<li class="side-menu-list-item side-menu-background-secondary">
						<a href="{{ site.url }}{{ collection_doc[0].url }}" class="side-menu-list-item-link">
							{{ site.content.sidemenu-return-to-category }}<strong>{{ collection[0].name }}</strong>
						</a>
					</li>
				{% else %}
					<li class="side-menu-list-item side-menu-background-secondary">
						<a href="{{ site.url }}/news" class="side-menu-list-item-link">
							{{ site.content.sidemenu-return-to-category }}<strong> News</strong>
						</a>
					</li>
				{% endif %}

				{% assign additional-search-class = "side-menu-background-tertiary" %}
			{% endunless %}
		{% endunless %}

		<div id="side-menu-list-item-search" class="side-menu-background-tertiary"></div>
	</ul>
</div>